[2019-09-27 14:10] RichardBradley commented on #202
I had the same issue, i.e. `serverless-domain-manager` does not play well with `serverless-plugin-split-stacks`.

I found that the linked PR did not fix things for me.

I had to reconfigure `serverless-plugin-split-stacks` so that it put the `ApiGatewayRestApi` in the root template (which required destroying and re-deploying my app). I couldn't see an easy fix other than that workaround.

[2019-10-01 20:07] amanbedi23 commented on #214
If you are using an empty base path then it will not allow any other base paths.
If you want multiple base paths you cannot use an empty base path as one of them.

[2019-10-03 08:25] yashutanna commented on #245
Hey guys - Im still pretty stuck on this. Ive configured a cert in us-east-1 as the default EDGE type is the only way i got to this point.

the lambda function itself will be deployed to eu-west-1. not sure if that would be an issue - but i would imagine not since the cert is purely for the cloudfront distribution.

any updates or workarounds will be highly appreciated.

note: above solutions of d

[2019-10-03 09:03] yashutanna commented on #245
so it seems i had a globally installed version of sls (1.36.3) that was being used when i ran the `sls create_domain` command.

when using `npx sls create_domain` I was able to move forward. im going to update my globally installed version and see if i can prove this

[2019-10-07 20:13] Tomicapo commented on #252
Duplicate of #233

[2019-10-14 13:14] henhal opened #253 "Support EndpointType PRIVATE"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-14 13:27] henhal commented on #253
Hmm, seems I may have misunderstood this. An API gateway API can now have endpointType private, but it seems API Gateway DomainNames are still edge or regional. Supposedly, a regional domain name should work together with a private API, I will look into this more.

[2019-10-14 13:34] henhal commented on #253
https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-private-apis.html: "Custom domain names are not supported for private APIs."

Sorry, closing this issue.

[2019-10-14 13:34] #253 closed

[2019-10-16 20:04] mooniker opened #254 "Include tags for created domains"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-18 08:27] zirkelc opened #255 "Create multi-level sub-domains in AWS Route53"
I want to create a multi-level sub-domain which also includes the stage, e.g. api.dev.example.com, but I get the following error message:

[code]

Is it an issue with serverless domain manager or Route53?

[2019-10-19 17:59] kling-appfire opened #256 "Why can't everyone's readme be so awesome?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-21 18:06] daneholmberg commented on #194
Is there any way to fix this with no downtime? So that we don't have to delete the base path?

[2019-10-23 14:48] flosch-hb commented on #249
NOTE: in the `cn-northwest-1`, Route53 is not available neither.

[2019-10-24 08:24] fpt-tuyenpn1 commented on #209
Downgrade not work for me, i'm using serverless-plugin-split-stacks. Any update for this issue?

[2019-10-24 08:25] se02951 commented on #209
Downgrade not work for me, i'm using serverless-plugin-split-stacks. Any update for this issue?

[2019-10-25 13:19] amanbedi23 commented on #214
Awesome good to know. Glad I could help.

[2019-10-26 00:01] hqtsky commented on #241
my work around at the moment is to use stage specific cnames e.g. dev.mydomain.com vs api.mydomain.com/dev -- not idea. best of worlds both should be supported.

[2019-10-28 07:24] SarasArya opened #257 "Just create the cloudfront distribution as I don't have DNS records in Route53"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-28 12:57] aaronguostudio commented on #242
I also got the same issue. But in my case, ${self:provider.stage} works fine. The problem is that I created another base url mapping before. I solved this by deleting the existing stack first and then deploy it again.

[code]

[2019-11-09 12:24] arqex commented on #245
I think this issue is related to the serverless version installed in my computer, not with the serverless-domain-manager plugin.

`npm update -g serverless` fixed the issue for me.

[2019-11-11 03:11] Dathin commented on #245
It's working on the latest version of serverless... I'm closing this issue....

[2019-11-11 03:11] #245 closed

[2019-11-11 15:38] FrancoConci opened #258 "how to use domain manager with custom domain, not registered in route53"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-16 07:42] richarddd opened #259 "Option to create cloudfront distribution mapped to gateway"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-16 15:24] ripley commented on #219
Given the fix has not been merged after months, looks like stating https://github.com/amplify-education/serverless-domain-manager/pull/220 as dependency is the way to go :(

[2019-11-18 15:46] namelesswc opened #260 "Domain on other aws account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-18 20:55] namelesswc commented on #260
My fault. I forgot to add http:// to my api url.

[2019-11-18 20:55] #260 closed

[2019-11-18 21:01] namelesswc commented on #258
Your DNS should allow creating record sets just as route53. There you should create a record set with your api domain pointing to TargetDomain.

[2019-11-18 21:03] namelesswc commented on #257
Remove that line from your code
`createRoute53Record: true`

[2019-11-22 20:25] JJ-Berrett commented on #233
I have this same issue

[2019-11-27 02:46] aelayeb commented on #219
Still no news on this issue ?
I got the same error with a simple reference to a RestApi declared in resources section of the same serverless.yml config file.

[2019-11-27 09:35] aelayeb commented on #219
This didn't work for me, does it still work in your project with latest versions (3.3.0) ?
Got this error:
`An error occurred: ApiGatewayResourceRi - Invalid API identifier specified 519444591809:${Ref ApiGW} (Service: AmazonApiGateway; Status Code: 404; Error Code: NotFoundException; Request ID: 2b8258cd-6ecc-4892-80ad-91f46f6c8702).`

"ApiGW" is the name of the CF resource "AWS::ApiGateway::Rest

[2019-12-04 20:48] divinealpine commented on #209
I ran into this issue today and followed instruction from @julian-lang which describes defining an  `http` event for my lambda. I can now deploy and am not getting this issue anymore.

[2019-12-08 13:55] sscarduzio commented on #210
It's very confusing that I had to create first the domain, and then deploy. In my opinion this should be at least logged in the output of the failing create_domain.

[2019-12-11 14:59] sverraest commented on #214
This is extremely annoying as we've reached the max lambda size for our serverless package.
We have to create a second one but unfortunately we can't use the same basePath mapping...

[2019-12-18 17:33] mikestopcontinues commented on #209
I had this problem until I ran `sls create_domain`. So using serverless-plugin-scripts, I setup a hook to run it `before:aws:deploy:deploy`

[2019-12-29 23:48] billydh commented on #151
@staslev wondering if it's possible to use the same `basePath` for multiple different functions with their own `serverless.yml` file. For example, I want to create an `authentication` service that has `register` and `delete` functions and I want both of them to be sharing the same `basePath`, like this

https://api.project.com/authentication/v1/register
https://api.project.com/authentication/v1/de

[2020-01-04 16:40] staslev commented on #151
Hi @billydh , I did not try working with different `serverless.yaml` files on a per function basis.

I'm afraid I have not worked with serverless in over a year now, so can't comment on your particular challenge from experience.

[2020-01-05 08:34] airmonitor opened #288 "API GW Custom Logs format don't work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-07 01:13] billydh commented on #151
Hi @staslev , that's okay.

A quick question for @staslev  @tsamaya , did you guys specify the `apiGateway` under `provider` in the children `serverless.yml` so the children stacks are using the parent `apiGateway`?

[2020-01-07 16:28] abdodeve commented on #210
Me to i had the same problem.
The problem was that i used another AWS account.
Be sure you use your right aws account .
Verify it here: C:/Users/USER1/.aws/credentials

[2020-01-08 22:45] CoolersCoder commented on #251
Face the same issue, when we run `sls remove -s dev`, it will ask your remove all mapping for the domain. we suppose to remove the mapping which we create before.

[2020-01-09 13:08] jan-wilhelm commented on #207
Any updates?

[2020-01-15 11:11] dmakarenko commented on #162
@ivokund Have you found any workarounds or sensible explanations for this issue? Thank you in advance.

[2020-01-15 19:47] Tomicapo commented on #233
Hi. Any chance this may get some attention?

[2020-01-16 13:03] mlecoq opened #306 "Issue with serverless 1.61.2"
Hi,

it may be an issue on serverless side. When I try to deploy my app with sls 1.61.1 all is fine but with 1.61.2 I have the following error :

[code]

Here is my config

[code]

If you think that it's an issue related to sls, I will open one on sls side

[2020-01-16 13:25] turakvlad commented on #306
@mlecoq, hello!

I am not sure but it looks like it is related to https://github.com/serverless/serverless. Everything works fine for me in 1.61.1, but this patch update to 1.61.2 broke the plugin for me as well.

I opened the issue there - https://github.com/serverless/serverless/issues/7225.

If you want you can confirm there that you have the same issue.

[2020-01-16 13:46] chearmstrong commented on #306
They responded...

[2020-01-16 13:47] ratuliut commented on #306
Reverting to 1.61.0 is a temp solution that works for in the meantime, that is,
`npm install -g serverless@1.61.0`

[2020-01-16 13:54] medikoo commented on #306
Internal method in Serverless framework `getCredentials` no longer resolves `region` (fact that it did, introduced other issues, and was not great in terms of separation of concerns).

I've proposed a (backward compatible) patch at #307 to keep plugin aligned

[2020-01-16 14:05] turakvlad commented on #306
@medikoo , thank you!

Now let's wait when someone approves and merges it.

[2020-01-16 19:05] #306 closed

[2020-01-17 16:03] spotnape opened #308 "ConfigError: Missing region in config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-17 17:54] jconstance-amplify commented on #308
@medikoo Any chance this is related to your change?

[2020-01-17 18:09] tylercd100 commented on #308
This is happening to me too

[2020-01-17 18:14] tylercd100 commented on #308
Could it be this most recent change? https://github.com/amplify-education/serverless-domain-manager/commit/633a506c6297c617ae119a9ad5237a2d90aa06e1

[2020-01-17 19:12] medikoo commented on #308
This looks as duplicate of https://github.com/amplify-education/serverless-domain-manager/issues/306 which was fixed in https://github.com/amplify-education/serverless-domain-manager/pull/307

Are you relying on latest version of a plugin?

[2020-01-17 19:15] tylercd100 commented on #308
I just barely updated to v3.3.1 and it is working for me. @spotnape can you check if the latest version fix your issue?

Thanks @medikoo

[2020-01-17 19:16] jconstance-amplify commented on #308
I was also able to verify that it was working with the latest version of the plugin.

[2020-01-18 22:55] dguisinger commented on #233
I haven't tried this yet, I was researching this as well.   My basic assumption is that you would want your root account to register:
company.com
and delegate
{stage}.company.com to a Route 53 zone in each account where it is used....

Then setup the custom domain to be "api.{stage}.company.com"

Have you tried that?  Does it work?

[2020-01-19 20:26] brycehemme commented on #308
I was experiencing the same issue on serverless-domain-manager version 3.3.0. Bumping to 3.3.1 has fixed the issue for me.

[2020-01-19 20:45] spotnape commented on #308
Thanks all. Bumping the version has resolved our problem too.

[2020-01-19 20:53] Tomicapo commented on #233
Thanks @dguisinger In fact, I have tried it and it works great. The thing is, it limits your subdomain to one account (tough you may have deeper subdomains in different accounts).
Actually, for now, I'm going in that direction.

[2020-01-20 14:00] tobiastornros commented on #257
Default value for `createRoute53Record` is `true`. Change it to `false`.

[2020-01-22 08:09] shierro commented on #308
same here. bumping to 3.3.1 solved issue
OS: MacOS 10.15.2
[code]

[2020-01-22 10:54] gleidsonh commented on #308
It works on 3.3.1.
OS: Win10
[code]

[2020-01-22 15:20] jconstance-amplify commented on #308
Okay, sounds like this is definitely resolved by bumping to 3.3.1. Thanks for confirming folks.

[2020-01-22 15:20] #308 closed

[2020-01-22 17:38] gbhorwood commented on #208
as a note for future people: sls create_domain uses the [default] credentials in your ~/.aws/credentials file. if you don't have a default set or it is set to credentials for a different account, you will get the 'unable to fetch information...' issue.

[2020-01-23 09:23] rbjoshi commented on #308
I was getting the above error and I updated serverless to 1.61.3 and serverless-domain-manager to 3.3.1 and now I am getting below error while trying to deploy

[2020-01-23 10:10] gleidsonh commented on #308
You must have it on your serverless.yml

[code]

[2020-01-23 10:26] rbjoshi commented on #308
@gleidsonh  It was there in the serverless.yml but still getting the issue

[2020-01-23 12:30] gleidsonh commented on #308
Maybe indentation is incorrect, **plugins:** must to be glued to the left.

[2020-01-23 23:20] MaxMotovilov opened #309 "Q: is it possible to manage base path mappings only on an existing custom domain"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-24 06:00] rbjoshi commented on #308
@gleidsonh The indentations is as you described, it was working with the older version, but now I am getting the above error

[2020-01-24 09:09] gleidsonh commented on #308
Is it on package.json, right? Try to remove node_modules and install again. If you are using yarn, clean cache before install.

[2020-01-24 10:17] rbjoshi commented on #308
I removed node_module from the project and package-lock.json and installed the npm from scratch and upgraded the serverless-domain-manager but still getting the issue. I am new to the serverless.

[2020-01-24 12:22] gleidsonh commented on #308
@rbjoshi Probably AWS no longer allows 8.10, only nodejs10.x and nodejs12.x. Try to update your local npm and serverless.yml. If doesn't works, please submit to a public repository. I'll try to see what's going on.

[2020-01-24 14:39] jconstance-amplify commented on #309
@MaxMotovilov, that should be fine. That is actually how we use this package internally at Amplify.

[2020-01-24 14:46] MaxMotovilov commented on #309
Wait - what should I put in the yaml? The docs appear to imply that the custom domain (& its DNS - if Route 53 is not disabled by the option) are created and removed on `sls deploy` and `sls remove` respectively. I guess the `sls deploy` might work even when domain already exists (I saw some closed issues to that effect) but what will happen on `sls remove`? I'd like to be able to remove the packa

[2020-01-24 14:51] jconstance-amplify commented on #309
You should fill out the serverless.yml as indicated in the docs, although you can disable the Route 53 record portion. The package adds two additional serverless commands, `sls create_domain` and `sls delete_domain`, which are used to actually create and destroy the custom domain. If the domain already exists, then you don't need to worry about those commands. `sls deploy` will create just the bas

[2020-01-24 14:52] MaxMotovilov commented on #309
Perfection! Thanks a lot for your help!

[2020-01-24 15:12] #309 closed

[2020-01-24 15:26] stefanhorning commented on #208
Had the same issue, but was not a permission issue. I ran the command with `SLS_DEBUG=1` and figured out it's actually this issue: https://github.com/amplify-education/serverless-domain-manager/issues/308

[2020-01-25 06:10] rbjoshi opened #310 "serverless-domain-manager cannot be found by serverless deployment"
I was getting the below error while deploying the lambda on AWS using bitbucket pipeline

So, I updated the serverless-domain-manager to the newest version 3.3.1

I tried to deploy the lambda after updating the serverless-domain-manager and now I am getting the below error.

serverless.yml snippet

[code]

bitbucket-pipeline.yml snippet

[code]
Need some insight, what am I missing that creating th

[2020-01-25 08:29] rbjoshi commented on #308
I have created a issue #310 , can you check what am I missing there?

[2020-01-26 17:52] wolle404 commented on #310
I can confirm this. I had to rollback my serverless version to 1.60.5.

[2020-01-29 15:55] James-Prescott commented on #255
I'm +1ing this. I have the same issue with `x.y.myDomain.com`. It fails to deploy with `x.y` but will deploy with `y.myDomain.com`.

[2020-01-30 17:27] sveinhelge commented on #152
This also happens if your certificate is registered for a subdomain and your custom domain is configured to sub subdomain.

Example:
Certificate registered to: **_aws.yourdomain.com (with additional *.aws.yourdomain.com)_**

Custom domain configured to: **_development.yourapp.aws.yourdomain.com_**

[2020-01-31 08:40] bramhoven opened #311 "CredentialsError: Missing credentials in config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-31 13:37] cmanzur commented on #210
You should add endpointType, like this:
[code]

Then:
`sls create_domain`
`sls deploy -v`

[2020-02-04 21:33] harryd31 commented on #310
When will we have a fix for this?

[2020-02-11 04:23] AlastairTaft commented on #209
Encase anyone else runs into this I had to specify the `AWS_REGION` environment variable. Previously I never had to provide this for a successful deployment. e.g. `AWS_REGION=us-east-1`

[2020-02-12 14:04] ahamedama commented on #214
@abdodeve
It's working man

[2020-02-15 22:48] TehNrd opened #312 "Add support for HTTP and Websocket API Gateway"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-15 23:35] TehNrd commented on #312
I took a stab at fixing this and getting the code to find the correct API isn't that difficult, just need to remove the hardcoded, `LogicalResourceId` variable of `ApiGatewayRestApi` and change it to HttpApi as necessary, but this is only step one.

After this, and upon attempting to create the base path mappings you will get a different error of: `BadRequestException: This custom domain name can

[2020-02-17 02:58] TehNrd commented on #312
PR submitted: https://github.com/amplify-education/serverless-domain-manager/pull/313

[2020-02-17 22:05] TehNrd commented on #312
So my original PR #313 did support multiple domain configs. I'm going to work on tweaking that and probably following the following format described here:

https://github.com/amplify-education/serverless-domain-manager/issues/207#issuecomment-471498630
[code]
...as I think it makes it the most obvious that each type of API needs to have a separate configuration and should also make the downstream

[2020-02-18 17:02] thedankay commented on #209
Getting this on `sls deploy` for the recent serverless versions → i.e. for version `1.61.2` and above. Error doesn't appear for if I downgrade the framework to `1.61.1`. Plugin version: `serverless-domain-manager@3.3.0`

[2020-02-18 17:03] thedankay commented on #209
Getting this on `sls deploy` for the recent serverless versions → i.e. for version `1.61.2` and above. Error doesn't appear if I downgrade the framework to `1.61.1`. Plugin version: `serverless-domain-manager@3.3.0`

[2020-02-20 14:52] ChandruCR commented on #209
serverless@1.56.1
serverless-domain-manager@2.3.5
serverless-plugin-split-stacks@1.9.3

and it works

[2020-02-21 08:32] thomasviaud commented on #219
Hello I encountered the same issue on this. My ApiGateway is defined in an additional stack. I found a fix by referencing restApiId with the ${cf:} helper instead of ImportValue :
[code]
https://serverless.com/framework/docs/providers/aws/guide/variables#reference-cloudformation-outputs

[2020-02-24 16:02] cbm-gplassard opened #314 "Can't find the ACM certificate when there are too many results"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-26 10:26] jonathan-kosgei opened #316 "How to Export the Target Domain and Hosted Zone Id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-26 22:42] jchou1271 commented on #209
serverless@1.61.1
serverless-domain-manager@2.3.5
serverless-plugin-split-stacks@1.9.3

This combination worked for us.

[2020-02-28 11:59] pedroresende commented on #87
any news about this ?

[2020-03-06 09:25] yeyeric opened #317 "Error: Error: Failed to find CloudFormation resources for serverless"
Hello,

I'm currently deploying AWS Lambda using gitlab cicd with no problem.

I wanted to add custom domain name management so that I can access my lambda function through a static url, here is my serverless.yml:

[code]

and here is my .gitlab-ci:

[code]
`

Everything works well if I don't add the custom domain name in my serverless.yml

Here is the error message I get at the ultimate part:
[co

[2020-03-06 17:29] kgston commented on #209
Specifying the `AWS_REGION`  environment variable fixed the issue for me. Seems like a AWS SDK change?

[2020-03-06 17:57] #317 closed

[2020-03-06 17:57] yeyeric commented on #317
closing as i've updated my settings (don't know what exactly) and don't have this message anymore.

[2020-03-07 02:00] yeyeric opened #318 "working in region eu-west-3"
Hello,

I've been struggling the whole day to deploy my serverless function. I realized that my difficulties were due to the region I was trying to deploy.

Hence my question:
- Is it possible to deploy on eu-west-3 (or anything else different than the default us-east-1)?

It's not clear to me whether the endpointType = edge/regional helps in this topic.

If it's possible (because I haven't manage

[2020-03-13 11:18] jkervine commented on #209
For me this started appearing after I I did a routine update of homebrew packages. The packages which might be of relevance here (maybe?) are:

node 13.8.0 -> 13.10.1
python 3.7.6_1 -> 3.7.7

setting AWS_REGION indeed fixes the problem.

[2020-03-17 02:02] lkolchin commented on #312
@TehNrd does your PR supports all of the following parameters too?
[code]

[2020-03-17 15:11] TehNrd commented on #312
@lkolchin Yes, it should. None of that core logic was changed, it just runs once per configured api type.

[2020-03-17 22:39] lkolchin commented on #312
Excellent. Tnx @TehNrd

[2020-03-18 00:01] rabidaudio commented on #311
I got this too. As I workaround, you can set it by environment variable: `AWS_REGION=us-east-1`

[2020-03-18 18:35] simsketch commented on #214
have you tried using layers for your dependencies?

[2020-03-20 21:31] tvb commented on #209
I am having the same issue after updating. Exporting `AWS_REGION` did not fix the problem for me.

[2020-03-23 15:08] mirstan commented on #140
Also, have `create_domain` as part of the deployment and hitting this intermittently. I think the code should be made resilient to the rate limit errors and just retry after so delay/backoff period.

[2020-03-23 17:51] justjoeyuk commented on #248
Did you ever resolve this?

[2020-03-24 15:42] eeroniemi commented on #314
Ran into this same issue. We have AWS account with over 100 ACM certificates and this bug prevents us from deploying new Serverless Framework applications. Would be nice if this could be merged and new release could be done ASAP.

[2020-03-25 12:09] raj-milton opened #321 "Add custom domain to a API gateway. Getting error 403 Forbidden"
We are using serverless Pro to deploy our API. We have added a custom domain to the API gateway. When we are calling API with custom domain it is throwing 403 "Forbidden" error. But the AWS lambda endpoint gives us the successful results.  Can you please provide a solution to this?

[2020-03-25 22:36] dailyherold commented on #314
@eeroniemi Reading the plugin code and if you [specify the cert ARN](https://github.com/amplify-education/serverless-domain-manager/blob/master/index.ts#L255) then it won't hit the [listCertificates](https://github.com/amplify-education/serverless-domain-manager/blob/master/index.ts#L265) function which is where this bug is.

Was facing problem myself and going crazy, but we also had wanted to spe

[2020-03-26 04:59] an-sush commented on #317
Hey @yeyeric  do you remember what you did to fix it? I am also getting this issue and unable to fix.
In a fresh env, I tried the following commands:
`
serverless create_domain
serverless deploy
`
Tried deleting the domain and recreating but no luck

[2020-03-26 10:17] yeyeric commented on #317
I don't know exactly, it was either a region settings with my certificate or my stack or my serverless.yml which was inconsistent, it is very sensitive unfortunately... follow the tutorials exactly to the line and try to change after you got it working to detect where it fails

[2020-03-26 15:10] dbirks commented on #321
I had this problem the last couple days and finally got a fix just recently. Maybe I can dump a list of things that helped me:
- made sure my WAF was letting my IP through (though since your lambda endpoint is successful, you should be good)
- made sure I was passing my api key in with the `x-api-key` header
- made sure that `custom.customDomain.endpointType` was `edge` to match how my lambda was

[2020-03-27 17:22] tafs7 commented on #311
I was seeing similar, but not exactly the same error

My `serverless.yml` config for the customDomain section looks like this:
[code]

I ran the following command:
`$serverless package --stage preprod --region us-east-1 --aws-profile preprod`

Here's the error that is thrown after executing the sls package command:
(note that I have already run `create_domain` in the past, so this api and custom d

[2020-03-28 07:26] kevinzheng commented on #233
For me, removing `hostedZoneId` fixed it, don't know why:

[code]

[2020-03-29 16:39] cadesalaberry commented on #318
What is the result of `sls create_domain`?

[2020-04-03 09:57] msimperi commented on #318
I have similar issues with region not getting automatically resolved from provider-configuration. I could reproduce the issue by removing environment variable AWS_REGION.

Somehow it feels that domain-plugin is now using region set in the serverless.yml provider, but it tries to resolve it from AWS_REGION environment variable. Should it resolve region all cases from provider configuration?

[2020-04-06 12:04] tdrbg commented on #317
I had a similar problem and fixed it by running `npm update` and adding `region` under the customDomain config

[code]

[2020-04-06 14:49] thedankay commented on #209
Latest `serverless@1.67.0` and `serverless-domain-manager@3.3.1` seems to be solving the problem.

[2020-04-10 22:07] LiaisonLarry opened #322 "Getting "InvalidParameterType: Expected params.restApiId to be a string" on deploy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-12 18:49] alexmnyc commented on #255
Same here

[2020-04-12 23:27] frankyjuang commented on #88
Any updates? Would be great to have this

[2020-04-21 03:33] ktphang1 commented on #20
This worked for me after removing 'stage' in the url. Thanks

[2020-04-21 06:03] #314 closed

[2020-04-21 06:34] #237 closed

[2020-04-22 14:30] Cryoware commented on #248
No I didn't at the time. Ended up going different direction and actually not using Amplify currently, I should try this again using exact steps to see if it might of been fixed or I do something different. :) In fact I am just going to close this since it proubally isn't valid anymore.

[2020-04-22 14:30] #248 closed

[2020-04-25 18:07] neerajlocusnine opened #326 "Error [ERR_REQUIRE_ESM]: Must use import to load ES Module"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-25 21:01] ajouve commented on #326
Should have been a temporary issue, I had the same problem and now working great

[2020-04-26 02:29] neerajlocusnine commented on #326
@ajouve you were right. Any idea why it happened all of a sudden? Is it because I kept doing pushes constantly (after every 5 minutes or so)?

[2020-04-26 04:59] #326 closed

[2020-04-27 19:38] ricardovf commented on #88
This would be great for our use case too!

[2020-04-28 21:07] ConradKurth commented on #88
@ricardovf @frankyjuang @kidculli I made a PR with this change if you wish to use it!

[2020-04-29 07:21] sthuber90 commented on #184
Hi, I'm facing the same issue. I cannot delete any CloudFront distribution as the DNS provider I use is separate and the cloud front distribution used is not in my AWS account. Instead the cloudfront account is 631144002099 (https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-edge-optimized-custom-domain-name.html)

[2020-04-29 18:03] vfcoelho commented on #209
serverless@1.69.0 and serverless-domain-manager@3.3.2 also worked for me

[2020-04-29 18:24] erikhopp commented on #233
Hi. I'm trying to set something like this up as well.

I have my main domain 'domain.com' registered at a non-Amazon registrar but set up pointing to Route 53 with a hosted zone for the base domain at 'domain.com'. I then have several OrganizationAccountAccessRoles set up for Development, Production, etc. and I'm trying to make these map to stage subdomains for Serverless microservice APIs that wi

[2020-04-29 23:47] angel-carvajal commented on #209
The combination of versions has nothing to do with serverless-plugin-split-stacks problem. @captainsidd already said what is the problem in code. I have the code working on my local env, will make a PR later today

The correct explanation to this problem is that serverless-plugin-split-stacks does not create a cloudformation resource called ApiGatewayRestApi in the stack. Instead it creates APINes

[2020-05-02 11:41] sthuber90 commented on #184
Okay. I found the error. For my service I used an external DNS provider, that was still pointing the domain name to a non-existent CloudFront distribution. After removing the outdated mapping running `sls create_domain`worked.

Thank you for this plugin :)

[2020-05-03 01:56] jerng commented on #152
Related (maybe same) issue, currently faced:
- API Gateway - Custom Domain * - 4th-level domain name
- API Gateway - API - Invoke URL ** - mapped to custom domain above

Both * and ** appear to be sending the same certificate down the wire (judging from issuance date). This is the valid cert for **, but it is invalid for *.

[2020-05-06 04:13] #312 closed

[2020-05-06 19:26] aoskotsky-amplify commented on #207
Should be fixed now with https://github.com/amplify-education/serverless-domain-manager/pull/319

[2020-05-06 19:26] #207 closed

[2020-05-06 20:47] kzhou57 opened #330 "'sls remove' failed when there are more than one page of base path mappings"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-07 05:51] blair55 opened #332 "Update fails on subsequent sls deploy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-07 09:51] bsonmez commented on #311
Hello. I upgraded from `"serverless-domain-manager": "^3.3.2",` to `"serverless-domain-manager": "^4.0.0",` and now recieving the same error as well.

[2020-05-07 13:08] claudio-petrini opened #333 "Unable to setup base domain mappings for <domain>"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-07 14:08] claudio-petrini commented on #333
Following up the issue, my fault.
Note that the custom domain must be configured in the same `serverless.yaml` file that uses the API Gateway in the first place.

Thank you for the great work on supporting the websocket API Gateway :)

[2020-05-07 14:08] #333 closed

[2020-05-07 20:49] webpepper opened #334 "Allow custom stage for HTTP API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-07 21:25] webpepper opened #335 "Allow external api id for HTTP API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-08 11:16] IgorBabkin commented on #214
For me solution was to rollback from 4.0.0 to 3.3.2

[2020-05-09 00:59] bforbis opened #336 "Validate Function Paths Don't Overlap API GW Reserved Paths"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-09 04:18] fabiancook commented on #332
It looks like the value that is triggering this is `domain.apiMapping.ApiMappingKey` here https://github.com/amplify-education/serverless-domain-manager/blob/257664190acf6e5148cf083149823e68c6d587e1/index.ts#L626

Looking at the API documentation here https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/APIGateway.html#updateBasePathMapping-property

The value should be `(none)` if no value is

[2020-05-09 11:17] robertsamarji opened #338 "How to version separate services using (multiple) basepath?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-10 23:10] simlu commented on #332
Hah... just spend an hour debugging this 😬

[2020-05-11 01:17] allanitis commented on #209
is this still open? Running into the same issue still serverless@1.69.0 and serverless-domain-manager@3.3.2

[2020-05-11 01:45] angel-carvajal commented on #209
@allanitis I haven't made the PR to the project (lots of works - just published it to my own private registry) but not sure if is getting enough attention at the moment. I see lots of PRs open without any comment. I'll submit the PR tomorrow so you can take a look to it (also I'll upload a fork on my acc)

[2020-05-11 12:26] mountainraptor commented on #332
This caused our build pipeline to fail so we locked to @3.3.2 temporarily
[code]

[2020-05-11 17:22] #332 closed

[2020-05-11 20:26] jasontll commented on #333
I am having the problem after updated to the latest version of serverless-domain-manager.
What do you mean by having the api gateway and custom domain in the same serverless.yaml?

[2020-05-11 20:48] jasontll commented on #332
After updating the packages and I start to get this error. Its driving me nuts... I end up rolled back to version 3.3.2 to get it to work again.

[2020-05-11 23:15] fabiancook commented on #332
@jasontll is the issue resolved for you with the latest update?

[2020-05-12 02:22] jasontll commented on #332
@fabiancook nope, version 4.0.0 gave me the issue, I rolled back to 3.3.2.

[2020-05-12 04:15] jufemaiz opened #340 "Tag releases"
## Feature Request

Releases are not tagged in github.

For each versioned release to NPM, the git repository should be appropriately tagged (at a minimum) and preferably with a release (incorporating the [changelog](https://github.com/amplify-education/serverless-domain-manager/blob/master/CHANGELOG.md)).

Consider automation of this.

This is standard practice, especially given the adoption of s

[2020-05-12 04:29] jufemaiz opened #341 "Unreported breaking change due to change in APIGateway API"
## Bug Report

**Error Description**

Changes merged in for v4.0.0 change the underlying APIGateway API from v1 to v2.

* https://github.com/amplify-education/serverless-domain-manager/blob/58fc87a71737d0d04f68175759a7a85f603f961b/index.ts#L190
* https://github.com/amplify-education/serverless-domain-manager/blame/257664190acf6e5148cf083149823e68c6d587e1/DomainConfig.ts#L26
* https://docs.aws.amaz

[2020-05-12 04:32] jufemaiz commented on #341
It would also be exceptionally useful to [tag releases](https://github.com/amplify-education/serverless-domain-manager/issues/340)

[2020-05-12 04:33] jufemaiz commented on #340
Discovered while [debugging undocumented breaking changes](https://github.com/amplify-education/serverless-domain-manager/issues/341)

[2020-05-12 07:16] claudio-petrini commented on #333
Hi @jasontll,
from my understanding the `serverless-domain-manager` needs to find the `WebsocketsApi` resource inside the CloudFormation stack you're using.
So probably the `serverless.yml` file on which you're using the domain manager plugin doesn't define this resource.

Let me know if this helps, I'll be happy to provide support :)

[2020-05-12 17:24] jasontll commented on #333
I wasn't using WebsocketsApi at all, just regular functions with http triggers. I have been running the system without any problem for almost a year and only yesterday when I decided to upgrade to the version 4.0.0 then I start getting the error. It has something to do with the basepath apparently. It was doing a check on the basepath value:
[code]
There's a solution in post [#332 ](https://github

[2020-05-12 22:23] fabiancook commented on #332
@jasontll are you able to try 4.0.1, this was released 17 hours ago

https://github.com/amplify-education/serverless-domain-manager/commit/2bed61e8b7854caf358edf2af7dc5abead061285

[2020-05-12 22:57] JBoudMS commented on #332
I've been having the same problem and updating to 4.0.1 fixed it for me. :+1:

[2020-05-12 23:25] TehNrd commented on #338
This isn't currently possible and it is an AWS API Gateway/Custom Domain limitation. Basepaths must be a single word /path. Not much this plugin can help with regards to that.

https://forums.aws.amazon.com/message.jspa?messageID=870348

You'll have to get creative with your architecture and break it up into smaller pieces.

I do base paths of:

` basePath: orgs`

Then use something like serverles

[2020-05-12 23:45] TehNrd commented on #334
Hmm, so I recall working on this and it was based on the related conversation here: https://github.com/serverless/serverless/issues/7052#issuecomment-584267234 and https://github.com/serverless/serverless/pull/7331

...where the Serverless framework will always deploy HTTP APIs to the $default stage as the serverless framework doesn't really use stages and creates an entirely different API for eac

[2020-05-12 23:53] TehNrd commented on #334
Looks like they reverted that change and added back support for paths, so it would make sense to fix this. https://github.com/serverless/serverless/pull/7383

[2020-05-13 00:24] TehNrd commented on #341
4.x was a big change and while we aimed for backward compatibility the reason for the major release was that we weren't entirely sure we covered all scenarios...and this was on of them.

I personally did not test TLS 1.0/1.1 as it was End of Life back in March. I would guess it unlikely for TLS 1.0 support to be added to 4.x but could be noted in the readme.

I also swear this project used to have

[2020-05-13 00:28] TehNrd commented on #336
Is there an official list somewhere of AWS reserved paths?

I supposed it could warn, but doesn't it fail anyway on deploy?

[2020-05-13 01:40] uqjhack1 opened #343 "Cannot read property 'domainName' of undefined"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-13 09:01] webpepper commented on #334
The original need for this was migration from the REST API. Even if I don't need multiple stages right now, API Gateway supports them. So not allowing to use them in this plugin is a limitation.

This reasoning doesn't work in my case:

Mainly due CloudFormation's 200 resource limit I split API creation into its own separate stack.

Since this HTTP API is being created in the Resources section, th

[2020-05-13 11:17] robertsamarji commented on #338
Thank you confirming @TehNrd. Makes sense. I thought I might have to go down this route!

[2020-05-13 11:17] #338 closed

[2020-05-13 16:18] bforbis commented on #336
They are documented in [API Gateway Known Issues](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-known-issues.html). So far (and probably for the foreseeable future), this is only for `ping` and `sping`.

This does not fail the deployment, however if you hit these paths in your API Gateway using custom domains, it will hit the API Gateway endpoint instead of your applicat

[2020-05-14 15:57] chearmstrong commented on #333
I'm getting this error and I'm not sure why.

[code]

My config:

[code]

The custom domain in the AWS console is showing as `regional`. If I try to configure the mappings manually, I get this error:

![image](https://user-images.githubusercontent.com/10651067/81956749-978eae00-9603-11ea-8a1f-1aef3bf84ba6.png)

Any ideas?

[2020-05-14 16:34] cbschuld commented on #333
@chearmstrong if you did the original create_domain on the previous version you may need to delete the domain and then re-create it.

[2020-05-14 16:56] chearmstrong commented on #333
Will give that a try. Thanks.

[2020-05-15 15:38] Pitasi commented on #333
I'm running into the same error but not sure if what I'm trying to do is legal:
I have two stacks (two repo, with two serverless.yml), I wanted to use the same domain for both of them and just change the basePath.

In my two `serverless.yml` I have:

[code]

For the first stack, everything went ok (`create_domain` followed by `deploy`). In the second stack, when I try to deploy I run into:
[code]

[2020-05-15 15:41] angel-carvajal commented on #209
The latest master just broke my solution cuz we support now HttpApi and WebsocketsApi (I was only checking for `ApiGatewayRestApi` nested stack). Is someone working with any of those 2 with split stack? If you guys want me to fix that ASAP I'll need some cloudFormation info of those type of API. If not, I'll take some time so I implement those 2 and see how the cloudFormation info looks like (mayb

[2020-05-15 16:04] angel-carvajal commented on #209
I just merged the solution I had working before into my clone https://github.com/angel-carvajal/serverless-domain-manager in case someone needs it now

NOTES:
- My master is not up to date (I'm 29 commits behind), verify if the version I have in master is still suitable for you.
- This solution only works with ApiGatewayRestApi (TODO: HttpApi and WebsocketsApi solution)
- This solution was tested

[2020-05-18 05:51] #330 closed

[2020-05-18 05:57] aoskotsky-amplify commented on #330
This should have been fixed by #345. Let me know if you are still seeing the issue

[2020-05-18 13:28] kamaz opened #346 "Create domains does not creates record sets on their failure"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* I'm happy to create

[2020-05-19 05:56] alexkb commented on #214
@IgorBabkin's suggestion above solved the problem for me.

[2020-05-20 18:14] sajithneyo commented on #210
[code]

I followed the instructions as in the documentation. Firs  a 'sls create_domain' and then a 'sls deploy'. I still get the error `Unable to setup base domain mappings for api.something.com`. Is it something wrong with my configurations or something from the plugin?

[2020-05-20 18:30] sajithneyo opened #347 "Normal domain creation works but base path mapping fails"
## Bug Report

**Error Description**
I followed the instructions as in the documentation. First a 'sls create_domain' and then a 'sls deploy'. I still get the error` Unable to setup base domain mappings for api.something.com.` Is it something wrong with my configurations or something from the plugin?

**Command Run**
`sls create_domain` and `sls deploy`

**Console Output**
[code]

**Domain Manager

[2020-05-20 19:23] sajithneyo commented on #347
Ok, I found the issue. API gateway does not support base path mapping with '/' :(

[2020-05-20 19:23] #347 closed

[2020-05-21 05:50] aoskotsky-amplify commented on #341
Thanks for finding this.

Looks like this might actually affect a decent amount of people so created a fix #348. Let me know if it fixes the issue for you.

We have't tagged releases before but it's a good idea to setup at some point. We use travis for builds. Feel free to send a PR to update the `.travis.yml` file to add tags for releases.

[2020-05-22 02:11] allanitis commented on #209
Can confirm this worked for me. Muchas muchas gracias!

In `package.json`, change to `"serverless-domain-manager": "angel-carvajal/serverless-domain-manager#v1.0.0"`

Am using serverless@1.71.0 and serverless-plugin-split-stacks@1.9.3

[2020-05-22 06:26] StErMi opened #349 "API Gateway deployed in eu-central-1 not reachable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-24 22:38] jufemaiz commented on #341
We've upgraded our infra to pick up TLS1.2 so it's a little moot for us. But I can regress one of them to test it out if you like?

[2020-05-25 19:23] #341 closed

[2020-05-27 01:03] ryaninvents commented on #343
I've regressed to v2.6.0 in order to unblock my workflow, but would really like to see this bug fixed in 4.x.

[2020-05-27 02:33] aoskotsky-amplify commented on #343
Sorry you are getting that error. Did you run `sls create_domain` before running `deploy`? Also could you try running deploy again with this environment variable set `SLS_DEBUG=*`. It might show a more descriptive error.

[2020-05-27 10:11] kaybee99 commented on #343
That fixed it for me. I'd forgotten domains don't get automatically created on `sls deploy`.

It would be nice to see some more descriptive error handling/reporting to catch this earlier on!

[2020-05-30 03:02] aprilmintacpineda commented on #343
@aoskotsky-amplify can we run `sls create_domain` every time? I'm thinking of putting that into the CI so that it doesn't have to be manually run, I'm keeping myself from having to save accessKeyId and secretKey on my machine as much as possible.

[2020-06-01 01:43] ChrisMcHarvey opened #352 "serverless create-domain results in "unable to create domain..." no matter what domain was supplied."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-01 14:42] bryan-hunter commented on #343
this PR will help with some of these :)

https://github.com/amplify-education/serverless-domain-manager/pull/323

[2020-06-01 16:21] thiagomarini commented on #210
Had a bit of a hard time with this error, I beleieve it was because I changed the region from `us-east-1` to `eu-west-1`. Althought I had run `sls remove` on `us-east-1` I think I forgot to to run `sls delete_domain` as well.

This sequence worked for me:
`sls delete_domain`
`sls create_domain`
`sls deploy`

[2020-06-02 19:00] jayasai470 opened #354 "cannot create multiple domains for rest and websocket with 4.1.1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-03 09:27] muhammedbasilsk commented on #209
@awolden Downgrading worked.

[2020-06-04 16:10] zerbinidamata commented on #259
Any updates on this?

[2020-06-05 09:54] stefanhorning commented on #209
Sill running into this with
`serverless: 1.72.0` and `serverless-domain-manager: 3.3.2`. However I am using the http-api product of API GW (`httpApi` in serverles.yml).

Using "angel-carvajal/serverless-domain-manager#v1.0.0" didn't seem to help for me.

(I am not using serverless-plugin-split-stack)

[2020-06-05 10:36] stefanhorning commented on #209
Actually that was a permissions issue with my IAM user, afer allowing all apigateway actions (without IAM conditions) I now get a different error

`Error: Error: Unable to setup base domain mappings for mediastore.app`. Which is proably a different bug/issue.

[2020-06-05 10:39] stefanhorning commented on #335
I ma having the same issue with latest serverless /domain-manager versions.

[2020-06-05 10:41] EduardTruuvaart commented on #335
I am having the same issue

[2020-06-05 14:51] angel-carvajal commented on #209
As I mention on my comment above, the solution I implemented only works for ApiGatewayRestApi. My solution actually does not have HttpApi and websocket implementation (I'm behind master for some commits).

If you provide the information I requested in that comment I might be able to fix it

[2020-06-05 14:53] angel-carvajal commented on #209
@stefanhorning this is the comment I'm talking about. Provide that info and I'll fix your scenario

[2020-06-07 15:38] prasanna1406 commented on #215
Hi,Getting same issue. tried with npx serverless create_domain, but still getting Unable to create domain.
Can anyone please help me out

[2020-06-07 17:10] cbschuld commented on #215
Hi @prasanna1406 can you run it in debug mode and then post what you see?  And/Or post your custom domain config?

[2020-06-08 18:45] mattccrampton commented on #209
@angel-carvajal I'm facing the same issue with HttpApi, can I provide you something to help you debugging?

Here's my serverless.yml...

[code]

[2020-06-09 08:05] stefanhorning commented on #209
@angel-carvajal @mattccrampton I guess we already have a more specific ticket here where the http-issues is described: https://github.com/amplify-education/serverless-domain-manager/issues/335

[2020-06-09 09:46] angel-carvajal commented on #209
I see, yeh this issue is not related to your bug

[2020-06-09 09:47] angel-carvajal commented on #209
check my last comment, I need information from aws cloud formation console

[2020-06-11 04:02] aaalexliu opened #358 "Fix to allow wildcard in certificateName"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-12 11:04] nilsdebruin commented on #209
@angel-carvajal Thanks for your fix! I am installing all plugins the regular way and your plugin afterward as follows (I am using regular API Gateway):

`npm install --save-dev @types/node@12`
`npm install --save-dev "angel-carvajal/serverless-domain-manager#v1.0.0"`

[2020-06-16 15:45] BrianSHenderson opened #359 "Only REGIONAL domain names can be managed through the API Gateway V2 API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-18 11:32] mcbain opened #360 "http-api: Using $default as stage results in a invalid AWS resource name."
For rest APIs`domain.stage` mappes to the serverless stage which is used for stack name creation. This does not work for http-APIs. Unless adding `provider.stackName` this results in an error.

https://github.com/amplify-education/serverless-domain-manager/blob/13649ca374f14b76007adf79c05254bd7af8581a/src/index.ts#L690

[code]

[2020-06-19 14:25] igoralves1 commented on #210
I am getting the same issue after change the region from us-east-1 to us-west-2. Now if I try `sls create_domain --stage mysatge` I am getting `Failed to create custom domain ....`. If I run `sls delete_domain --stage devig` I am getting `Serverless: Unable to delete custom domain ...`. If I try to deploy this is what I get `Unable to get BasePathMappings for ...` and cant deploy.

[2020-06-20 16:23] IcebergRage commented on #209
Hello everyone,

I have the same issue. I'm trying te deploy a single lambda with a sqs event. This is where it doesn't work. When I switch it to a http event. It works...

[code]

Have you got any ideas ?

[2020-06-25 13:45] corydorning commented on #352
having the same issue

[2020-06-25 16:51] corydorning commented on #215
having the same issue. here's the error in debug mode:
[code]

serverless.yml
[code]

[2020-06-25 21:54] cbschuld commented on #215
@corydorning you need to have a certificate in the Certifcate Manager called "my-cert" (where "my-cert" is the Name) - then it will work fine.

[2020-06-25 21:56] cbschuld commented on #352
@ChrisHarveyHub are you able to provide the output from `"SLS_DEBUG=*"` ?

[2020-06-26 01:05] corydorning commented on #215
okay so i got it creating the custom domain in api gateway and have this as my config right now, but its not creating the alias record in route 53:

[code]

[2020-06-26 01:09] corydorning commented on #215
ah guessing its an iam issue. taking a look

[2020-06-26 07:35] jkervine commented on #209
If I'm not misunderstanding something or you are omitting something from the quoted configuration... then:

Your SQS lambda does not create any aws gateway resources which could be connected with the domain api.mywebsite.com. I think the way it's supposed to go is that you need to create a http (or websocket or something) endpoint which is connected to API gateway and this endpoint would then talk

[2020-06-26 15:19] corydorning53 opened #361 "A Record (Alias) not being created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-27 15:39] stympy commented on #359
If you try to create a custom domain [via the console](https://console.aws.amazon.com/apigateway/main/publish/domain-names/create?region=us-east-1), you'll see that the newer HTTP API Gateway doesn't currently support Edge-optimized domains:

<img width="954" alt="Screenshot 2020-06-27 08 38 00" src="https://user-images.githubusercontent.com/1070/85926054-8d420f80-b851-11ea-8f84-f4ad723b4c87.png">

[2020-06-29 18:56] corydorning53 commented on #361
Any ideas why the record isn't being created? :/

[2020-06-29 20:35] cbschuld commented on #361
@corydorning53 can you provide an execution log with `export SLS_DEBUG=*` set?

[2020-06-30 13:22] corydorning53 commented on #361
Output with debug set:
[code]

[2020-06-30 15:50] cbschuld commented on #361
@corydorning53 just for sanity; you called `sls create_domain` correct?

[2020-06-30 16:10] corydorning53 commented on #361
the output above is from `sls deploy`. however, i just ran `sls create_domain` and then `sls deploy` and the result is still the same (no A record created).

[2020-06-30 16:13] corydorning53 commented on #361
i just ran the following to try from scratch:
- `sls remove`
- `sls create_domain`
- `sls deploy`

still no record though. :/

[2020-06-30 16:15] corydorning53 commented on #361
I figured this might be worth clarifying since i don't fully know how the plugin works, but the Hosted Zone for my domain ALREADY exists in AWS with a a `NS`, `SOA` and `CNAME` record. It's created by Terraform along with the needed cert.

[2020-06-30 16:18] corydorning53 commented on #361
Here is the output from `sls create_domain`:

[code]

[2020-06-30 17:07] cbschuld commented on #361
@corydorning53 this falls out of my understanding now as I do not use Terraform at all.  I would guess that it would be on the Terraform process to build the links if that is what is indeed creating the domain.  At that point it will be less about the serverless-domain-manager because it is essentially not the source of truth on the domain.  For me, without Terraform it creates the domain and upda

[2020-06-30 18:15] corydorning53 commented on #361
So does serverless create the hosted zone? or does it just create a record within the hosted zone?

[2020-06-30 18:17] corydorning53 commented on #361
I actually misspoke earlier. The serverless creates the custom domain, it just doesn't create the A (Alias) record in route 53. all terraform does is creates the cert for that the custom domain uses.

[2020-07-02 02:04] corydorning53 commented on #361
any further ideas? i removed the terraform piece. record is still not being created. i have manually created a hosted zone in route 53 and a cert in acm.

[2020-07-04 20:34] nachojoaquin opened #362 "Any way to have domain created / deleted within the regular create / remove lifecycle?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-06 16:40] corydorning53 commented on #361
figured i'd check back-in after the holiday weekend. :D

[2020-07-07 18:13] corydorning53 commented on #361
Any assistance here would be greatly appreciated. This plugin would provide a huge benefit if i could just figure out the A record creation.

[2020-07-10 01:33] pierrejoye opened #363 "404 on getDomainName during sls create_domain"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-10 04:04] blue-eyed-devil commented on #214
this works

[2020-07-12 15:20] davehensley opened #364 "Add an option to disable IPv6 (create the A record but not the AAAA record in Route 53)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-14 10:51] dankochetov opened #366 "Unable to map domain to WS API when both REST and WS APIs are defined externally"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-14 11:20] navrkald opened #367 "Do not fail whole deployment on "Base path already exists for this domain name""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-14 12:23] navrkald commented on #367
Ok my fault, the error message was correct, because the custom domain name mapping was existing, but it was pointing to wrong API. After deleting wrong mapping and redeploy the issue was fixed and then also multiple redeployment was successful. So again sorry for false positive bug and thx for this serverless plugin! :)

[2020-07-14 12:23] #367 closed

[2020-07-14 14:01] sharmashobhit commented on #352
Was struggling with this. The following seemed to work for me.

1. The certificate I was using was in a different region
2. Provided the `hostedZoneId` to the configuration. This ensures explicit discovery.

[code]

[2020-07-15 06:35] hoang-innomizetech commented on #210
We turn on _autoDomain_ flag, so the create_domain should be executed as a part of _sls deploy_ command per documentation. Not sure why it doesn't work as expected.

[2020-07-15 13:58] bryan-hunter commented on #210
@hoang-innomizetech `autoDomain` setting was just released yesterday.  Do you have any more details about what is failing for you?

[2020-07-15 14:02] hoang-innomizetech commented on #210
I am getting below error
Serverless Domain Manager: NotFoundException: Invalid domain name identifier specified

Then I have to create domain before deploying sls service

[2020-07-16 12:09] shardulsrivastava commented on #352
@sharmashobhit  i have the same issue, now m trying your fix.

[2020-07-17 14:09] drissamri commented on #343
I'm getting the same error.

Our domains are managed by Terraform so no creation is needed, just need to create the new base path.
I've done the same config for REST API's in the past (2.x.x version of the plugin).

Any idea's on what the current workaround is?
[code]

[2020-07-17 19:42] parik-ceb commented on #64
This, glad that I read this whole thread. I kept using ```endPointType``` as ```edge``` and it kept erroring out. Once I changed the value to ```regional``` it worked like a charm

[2020-07-18 07:29] huksley commented on #163
Another rationale for this feature would be that Custom Domains created via API Gateway does not support HTTP (as HTTP to HTTPS redirect), making them ineligible for general-purpose sites.

Consider the following StackOverflow discussion: https://stackoverflow.com/questions/47311081/redirect-http-requests-to-https-on-aws-api-gateway-using-custom-domains

I also experienced this deploying the app r

[2020-07-18 14:58] drissamri commented on #255
I tried to do the same here, api.domain.com works but dev.api.domain.com doesn't. Would be interested to know if this is a plugin or additional setup needed somewhere?

[2020-07-21 07:27] tiagoramalho commented on #334
Hello,
I have one doubt regarding the $default stage.
When I want to deploy an HTTP API, the $default stage is not automatically created, and I always get the error "BadRequestException: Invalid stage identifier specified".

When I manually create the $default stage in the API everything works fine. There is any way how I could automate that creation?

[2020-07-22 17:57] joquijada commented on #333
I recently upgraded from `serverless-domain-manager": "^3.3.2"` to `"serverless-domain-manager": "^4.1.1"` in my Node.js Lambda app, and the domain had been originally created using the older version of this plugin. I just manually deleted the custom domain mapping in the AWS console at https://console.aws.amazon.com/apigateway/main/publish/domain-names?domain=<your-company-domain-here>&region=us-

[2020-07-22 18:40] geoffatsource commented on #255
I just got this working. I need to A) make a DNS Zone for that subdomain `y.myDomain.com` and B) create an single ACM certificate in us-east-1 with with two domain entries, `y.myDomain.com` and `*.y.myDomain.com`

[2020-07-23 03:58] ChihSeanHsu opened #369 "Does certificateArn variable support IAM certficate Arn?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-24 17:45] samnf opened #370 "Websocket API Gateway ValidationError: Resource WebsocketsApi does not exist for stack"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-24 17:49] samnf commented on #370
here's the full console output if it helps
[code]

[2020-07-28 08:34] shvhh commented on #308
it got fixed when I use
[code]
instead of
[code]

[2020-07-28 08:40] topfblumen opened #371 "DomainManger is not updating TLS to 1.2"
I have Domain Manger updated to `"serverless-domain-manager": "^4.2.0"`  and added TLS to my serverless config like
[code]

so when I deploy my API Gateway I will get these here:
`Serverless: Custom domain XXXX already exists.`
and its still TLS 1.0

[2020-07-30 00:22] leoalbin commented on #352
I had the same issue but adding the `certificateArn` explicitly worked for me.

[2020-08-05 02:33] adamdunkley opened #372 "Domain in multiple regions – needs region as a flag"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-05 02:40] adamdunkley commented on #372
This one was completely my fault, I had 2 checkouts of the code and was setting region in the wrong one. Mea culpa!

[2020-08-05 02:40] #372 closed

[2020-08-07 09:21] jdelaune commented on #362
Use `autoDomain` option in 4.2.0

[2020-08-07 09:23] jdelaune commented on #369
Using a certificate Arn worked for me in 4.2.0, I didn't have a custom hostedZoneId specified, that's the only difference between our configs.

[2020-08-07 12:58] srashish opened #373 "Domain manager could not create domain"
* Updating serverless framework to latest version always breaks domain manager.

## Bug Report

**Error Description**
Create Domain failed due to missing region in the config

**Command Run**
e.g. `npx sls deploy `

**Console Output**
[code]

**Versions**
- Domain Manager version(s):2.6.13
- Node/npm version: Node 10
- Serverless Version: 1.78.1
- Lambda Code Node

[2020-08-08 23:38] tforster opened #374 "npm ERR! Cannot read property '0' of undefined"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-09 19:21] tforster commented on #374
Appears to be working now. Putting it down to a possible networking issue reaching NPM?

[2020-08-09 19:21] #374 closed

[2020-08-12 08:16] TMiNus opened #375 "Multi API configuration makes autoDomain fail"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-15 17:12] 47arathore commented on #56
Note. You need to have the domain name or its parent as a hosted zone in the same AWS account where you have your API gateway.

[2020-08-15 17:12] 47arathore commented on #210
Note. You need to have the domain name or its parent as a hosted zone in the same AWS account where you have your API gateway.

[2020-08-19 06:43] RickMeasham opened #376 "Plugin assumes resource name of API Gateway is "ApiGatewayRestApi""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-19 07:49] RickMeasham commented on #376
While the above analysis seems correct, it wasn't what was causing my problem so I'm closing this issue.

The problem was that the file that sets up the domain name doesn't have any `function` declared. This means there's no "deployment" and thus no "stage" .. and that cascaded into "Unable to create basepath mapping" errors.

[2020-08-19 07:49] #376 closed

[2020-08-21 13:49] FergusMcGlynn opened #377 "Can I use DomainName and DistributionDomainName values in serverless.yml?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-25 01:54] apsoto opened #378 "allow skipping domain creation/validation for certain stages"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-25 09:27] Vadorequest commented on #308
Just encountered the same issue.

Got it fixed by bumping from `3.2.2` to `3.3.2`.

[2020-08-25 21:55] isupremedyou commented on #333
Just sharing what helped me.

If you are not using `Route 53` to manage the DNS for the domain, make sure you set `createRoute53Record: false` in your serverless.yml file. This is what was causing the error for me.

[2020-08-31 19:04] knutole commented on #361
@corydorning53 Did you figure it out? I'm hitting the same error: "Custom domain [my.domain.com] already exists".

- I have purged Route53 records.
- I have removed all stacks.
- I have even created a new serverless folder instance.

Still, `sls create_domain` seems to "remember" that I already did this earlier... But where is this info stored?

[2020-08-31 19:09] knutole commented on #361
The answer is in API Gateways -> Custom Domain. I deleted this custom domain, and ran `sls create_domain` again, hoping it will set the correct routes and all'll be well.

[2020-09-02 13:55] hmmhmmhm commented on #343
I reinstalled version to 3.3.1 and succeeded to register.
first step: create ceriticate in `us-east-1` region, (only `us-east-1` can be work unless regional endpoint. #49)
second step: `sls create_domain`
third step: just deploy.

[2020-09-03 02:28] RickMeasham commented on #366
There are quite a number of issues with the `getApiId` function. A band-aid fix for all of them might be to include the ability to set it in the `customDomain` clause (using refs or functions or strings)

[2020-09-04 05:50] s-kris commented on #88
This would be great use case, waiting.

[2020-09-09 08:32] ramzauchenna opened #379 "Custom domain names not using the right environment"
I have multiple domains for both dev and prod and both apis are talking the the dev stage which should not be.

No idea what the issue is here.
[code]

api.xxx.co when deployed with `sls deploy --stage prod` loads the dev lamda api

**Versions**
- Domain Manager version(s): [v4.2.0]
- Node/npm version: [Node 12.14.1/npm 5]
- Serverless Version: [V1.68.0]
- Lambda Code [e.g. Javascript

[2020-09-10 09:55] rene84 commented on #361
We are running into a problem which may be the same or at least related. The key is this:

Serverless: Custom domain my.domain.com already exists.

If the API gateway custom domain already exists, it will not check if the Route53 already exists and not try to create it if it doesn't

[2020-09-10 13:54] jordanboston commented on #311
I had the error in version 2.6.0 but after upgrading to 4.2.0 it seems to be gone.

[2020-09-10 18:18] olegario96 commented on #209
Any news?

[2020-09-10 23:27] olegario96 opened #381 "Error: Unable to setup base domain mappings for <YOUR_DOMAIN_HERE>"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-16 14:38] #219 closed

[2020-09-18 06:17] casualuser commented on #88
It look like https://github.com/amplify-education/serverless-domain-manager/pull/327 is pending for 5 months already. Is there something real preventing merge and deliver a such a high demand feature?

[2020-09-18 15:55] #209 closed

[2020-09-18 17:35] hmazter opened #385 "Support for configuring Mutual TLS for custom domains"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-20 14:20] FinnFrotscher opened #387 "Docs unclear on setup. everything works, except it doesnt."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-22 07:56] okgolove commented on #366
Facing the same issue.

[2020-09-22 09:28] jamesmbourne opened #388 "Unable to setup base domain behind HTTP proxy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-23 08:33] caligo-erik commented on #242
I tried to add a second stage "v2", and got the above mentioned error message.
I run sls remove --stage=v2 and this removed the base url mapping for "v1". I almost got a heart attack, because at first I thought I had somehow typed something wrong and sls had removed the complete application along with tables and production data. Fortunately it was "**only**" the base mapping.

[2020-09-23 12:52] RounakTadvi commented on #352
I had the same issue I tried to fix it by migrating DNS Service From Godaddy to Route53 while allowed the server less-domain-manager to add records in the hosted zone.

[2020-09-23 18:14] #88 closed

[2020-09-28 09:07] diegomarzo commented on #20
@maestr0 thank you man! thank you a lot!!!!

I just found the same issue.

[2020-09-30 09:36] kamaz commented on #361
I had similar problem and this is what I've found out https://github.com/amplify-education/serverless-domain-manager/issues/346

[2020-10-02 20:59] vcelisBP commented on #209
any update? I'm having the same error.

`Serverless Domain Manager: Error:  Error: Failed to find CloudFormation resources with an error: ValidationError: Resource ApiGatewayRestApi does not exist for stack `

I'm using the serverless-aws-alias plugin.

[2020-10-03 15:58] Adel-ak opened #390 "Custom domain not working on web socket"
**Question**
Hello there, i have graphql node application, which uses websockets and basic curd operations.

so i happened to run sls remove and my whole dev stage server (which i was using as a test server as well) was gone, the issue was i had to put up another server and update the HTTP and WSS URL on my mobile apps and release another open tester version, in order to make sure the hassle of re

[2020-10-03 18:15] rddimon commented on #209
@vcelisBP please update the plugin to version 5.0.0.

[2020-10-07 09:00] Tllew commented on #209
Still having the same issues.

[2020-10-07 16:26] vcelisBP commented on #209
Still having issues
I'm working with the serverless-aws-alias plugin.  This is  my configuration

`customDomain:
    domainName: ${self:custom.customDomainName.${self:provider.stage}}
    stage: test
    createRoute53Record: true
    certificateName: ${self:custom.customCertificateName.${self:provider.stage}}
    basePath: new-mapping
    endpointType: 'edge'`

I'm trying to create a new mapping w

[2020-10-09 20:45] samnf commented on #370
I just saw there's a 5.0.0 release with 'lots of domain refactoring' so I'll test again on that when I have a few spare moments.

[2020-10-10 02:45] ben-walker commented on #378
You can accomplish this now, albeit in a bit of a janky way.

[code]

[2020-10-12 18:16] sps-software commented on #330
Just ran into this... Might have something to do with me changing the domain name from "www.domain.com" to "domain.com".

[2020-10-13 15:45] alexandruluca opened #391 "Failover/latency based routing"
HI.

If I add a PR for Failover/latency based routing, will you take in consideration to merge it?

[2020-10-13 18:09] rddimon commented on #391
Hi @alexandruluca
If it really needed thing and people support we can take a look at it

[2020-10-13 18:13] rddimon commented on #381
Hi @olegario96
Could you please try with the version 5.0.0?

[2020-10-13 19:32] #391 closed

[2020-10-13 22:27] yuriiLevantovych commented on #239
Hi @klausbreyer. Have you figured out how to do it?

[2020-10-14 00:10] samnf commented on #370
I updated to the latest serverless-domain-manager (5.0.0), which, in verbose mode, also gave me a warning about my event indentation.
So I fixed the indentation and it worked! I'm not sure if upgrading to 5.0.0 (previously 4.2.0) also helped or if it was purely the indentation.

[code]
[code]

[2020-10-14 00:10] #370 closed

[2020-10-14 17:04] #166 closed

[2020-10-14 17:50] ankurshah1981 opened #392 "Resolving the provider.role from Secret manager"
**Question**
I am using serverless.env.yml file which defines all of the env properties. Many of these env properties are being read/resolved from the secret manager directly at the time CloudFormation runs (see the env.yml file below). Example
[code]
We have it working correctly for all of the properties.

Just recently I am also trying to move the lambda execution role name into a secret variabl

[2020-10-14 19:47] evereq commented on #381
@rddimon I am using version 5 and got the same error together with another error before it:
[code]

My `serverless.yml`

[code]

[2020-10-15 20:57] ankurshah1981 commented on #392
Sorry, the issue should instead be posted on https://forum.serverless.com/

[2020-10-15 20:57] #392 closed

[2020-10-26 15:45] abbathaw opened #394 "Updating ACM certificate ARN doesn't make any changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-27 14:04] afreakk commented on #373
A workaround:
Try exclicitly setting AWS_REGION before running `sls deploy` like this:
```export AWS_REGION="eu-central-1"```
Then aws-sdk will get a proper region from env

[2020-10-29 14:05] sam-higton opened #395 "Serverless domain manager incorrectly inferring api gateway stage name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-01 07:12] claridgicus opened #396 "Documentation for Localstack"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-04 18:41] #366 closed

[2020-11-05 13:34] NeilJ247 commented on #233
Hi,

I have similar issue where currently our hosted zone is in another account from production.

Do you still have `createRoute53Record` set to true for the domain in a different zone?

[2020-11-10 19:40] devadyuti commented on #352
echoing with https://github.com/sharmashobhit

the 2 key elements in case you generated certificates with wilcards

    certificateName: "*.domain.com"
    hostedZoneId: ${opt:HOSTED_ZONE_ID}

[2020-11-11 00:38] wzalazar opened #400 "Remove stack issue with the plugin serverlessIfElse"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-12 15:37] stefanhorning commented on #381
Also still having this issue, even with latest version. This has been there for a while now, see https://github.com/amplify-education/serverless-domain-manager/issues/335

At least with the `http` api type I never got it to work. Seems there simply wasn't any fix so far.

[2020-11-17 02:06] MadisonEhlers-Vertex commented on #381
I was experiencing this issue and my issue was related to the `endpointType`. The default endpoint type is `edge` and that is noted on their documentation, I needed `regional` in my case.

[code]

[2020-11-17 12:50] stefanhorning commented on #381
@MadisonEhlers-Vertex I had this setting already, so that doesn't seem to help.

[code]

[2020-11-20 10:52] PatersonKopp commented on #381
Are there any update on this? I'm currently running into the same issue

[2020-11-24 12:12] eeroniemi commented on #394
I ran to this same issue. Changing the ACM certificate ARN in configuration did not update the certificate for the API GW domain automatically. Had to do that manually from AWS console.

[2020-11-29 02:13] AwolDes commented on #381
Just wanted to hop on this one after debugging. Running `SLS_DEBUG=* sls deploy --stage prod` resulted in these errors:
[code]

I my stack name is `api-prod` not production. This was because in my `serverless.yml` I had set the `stage` for the `customDomain` to `production`. Changing it to `prod` solved this for me.

Hope this helps someone else out there encountering this issue.

[2020-11-29 02:14] AwolDes commented on #333
Added a comment on another similar issue here: https://github.com/amplify-education/serverless-domain-manager/issues/381#issuecomment-735318565

Might help someone in the future.

[2020-12-01 13:34] navrkald opened #401 "Deploying REGIONAL api fails with with error: BadRequestException: Only REGIONAL domain names can be managed through the API Gateway V2 API."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-02 09:44] kajm opened #402 "Route53 records sets are created even when createRoute53Record is false"
Hi!

When using the plugin with the parameters **autoDomain** set to true and with **createRoute53Record** set to false, records are still created in Route53.

Is this the expected behaviour?

BR,

[2020-12-09 15:23] Craigson opened #404 "Unable to fetch information about <api-domain> at APIGatewayWrapper"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-09 16:58] Craigson commented on #404
I found the solution to my problem, which was not in fact a bug. Posting here in the event anyone ever runs into something similar.

Digging through the `serverless-domain-manager` code, in the `api-gateway-wrappper.js` file, I checked more information relating to the error returned by AWS and found the  following:
[code]

Thanks to [this](https://stackoverflow.com/questions/44017410/signature-exp

[2020-12-09 16:58] #404 closed

[2020-12-09 19:48] jormaechea commented on #401
In my case, the error was due to an upgrade from TLS 1.0 to 1.2. As a workaround until it's fixed, you can change the Custom domain to TLS 1.2 manually in AWS console or CLI and you're good to go.

[2020-12-10 09:33] WhyNotHugo opened #406 "Deleting via cloudformation fails"
When deleting a deployment via cloudformation, I always get this error:

![image](https://user-images.githubusercontent.com/730811/101753358-707d5980-3aca-11eb-9d54-081d46f722c1.png)

I have to go to the AWS console > API Gateway > Custom domain names, look for the mapping, and delete it manually.

The full error details behind this says:

I _think_ that the base path mappings are not registered a

[2020-12-14 11:30] captainsano commented on #20
If anybody else is facing the same issue, also make sure to check if you have the domain set in other AWS regions. You have to first remove all existing usages of your domain before you set it up.

[2020-12-15 02:43] SethThomas commented on #387
Did you ever resolve this issue?  I'm having a similar issue now myself, and I am not clear on how to debug this issue.

[2020-12-15 12:55] FinnFrotscher commented on #387
no. no solution, help or docs found

[2020-12-15 23:25] SethThomas opened #407 "HostedZoneId created not in Route 53 console"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-17 03:30] #407 closed

[2020-12-18 01:02] milanzivic commented on #396
Ditto, would really appreciate this

[2020-12-19 15:24] isaacl opened #408 "API gateway does not support IP v6"
This plugin creates an AAAA record in route 53, but API gateway does not support IP v6 so this record cannot be resolved properly.

[2020-12-19 15:25] isaacl commented on #408
(So should not create an AAAA record)

[2021-01-04 11:14] himharsh1997 commented on #308
AWS_REGION is missing in env.local causing issue on service like s3 getting used in the project.

[2021-01-04 13:11] rathoregee opened #409 "Plugin configuration is missing"
my config:
service: platform-access

plugins:
  - serverless-pseudo-parameters
  - serverless-domain-manager
  - serverless-plugin-include-dependencies
  - serverless-reqvalidator-plugin
  - serverless-add-api-key

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-west-2
  environment: ${file(environment.yml)}
  tracing:
    apiGateway: true
    lambda: true
  stage: v1
  versionFunctions:

[2021-01-04 22:01] rathoregee commented on #409
fixed after using latest version  5.1.0

[2021-01-06 18:35] malli1246 commented on #96
any update on this?I am also having the same scenario and currently blocked as we are supposed to give latency based record for multi region hosted apigw endpoint

[2021-01-09 23:06] jshhrrsn commented on #333
@Pitasi - I know it's sometime later - but that is _exactly_ what I'm attempting... Did you have any success, or was this setup not the correct approach?

[2021-01-10 10:13] Pitasi commented on #333
The yaml was correct, I just kept using serverless-domain-manager@3 instead of upgrading to the latest version. I'm not sure if they ever fixed this problem since I'm not working on that project anymore.

[2021-01-11 19:27] jweyrich opened #410 ""serverless deploy --noDeploy" fails with "Unable to setup base domain mappings for ...""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-11 19:31] jweyrich commented on #410
Commenting here just to link to the a similar issue under different circumstances: https://github.com/amplify-education/serverless-domain-manager/issues/333

[2021-01-11 21:27] torntrousers commented on #385
Would so like it if this function was added, its a big pain that we can't automate this configuration of our application.

Does anyone know if there is  any other way we can get mutual TLS configure from code config intstead of having to use the AWS Console?

[2021-01-12 11:10] hmazter commented on #385
@torntrousers I have replaced this plugin in my serverless.yml with CloudFormation resources that allow for configuring the Mutual TLS.

With this config:
[code]

[2021-01-13 18:36] samcdavid commented on #381
For anyone else stuck on this, I too enabled `SLS_DEBUG=*` and received a permission error. So this can be caused by a lack of permissions in IAM.

[2021-01-15 13:33] jesusch opened #411 "enabled just works half-way"
given the following config:

[code]

results in Error: PRIVATE is not supported endpointType, use edge or regional.

as I am dynamically creating serverless config file it would be awesome if the `enabled: false` flag fully disables the plugins and all of it's checks

[2021-01-18 17:14] lazyexpert commented on #352
@leoalbin following your advice, `certificateArn` worked for me as well. Thanks.

[2021-01-19 14:35] linrium commented on #395
![image](https://user-images.githubusercontent.com/14315537/105048487-370f1500-5a9e-11eb-80a3-5bb9306dbaf6.png)
I also have the same issue when trying to deploy with `httpApi` config

[2021-01-21 20:36] arthurorbica opened #412 "Following getting started guide results in "Error: Unable to setup base domain mappings for <domain>" error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-23 11:19] RounakTadvi commented on #352
Using the below configuration, solved this particular issue for me:

[code]

[2021-01-26 10:43] endre-synnes commented on #394
I ran into the same issue ☝️.

[2021-01-26 19:46] ranneyd commented on #209
Went into cloudformation, deleted the stacks manually, redeployed and it worked. I think my coworker initially deployed it missing a file, then redeployed and it failed.

Note I'm using https://github.com/dougmoscrop/serverless-plugin-split-stacks

[2021-01-26 20:45] ed-sparkes commented on #412
Hi, i had the same issue and resolved it by changing `http` to `httpApi` in the serverless.yml under events...

[code]
it would appear that the latest version of serverless allows either and promotes http but this plugin is looking for a resource called HttpApi which is only generated in the cloud formation scripts if you use httpApi, hopefully this plugin will be updated to support http in the fu

[2021-01-27 17:19] apnordcloud commented on #395
Workaround is to delete `stage` field from `customDomain`

[2021-01-27 21:54] brunopadz commented on #379
hey @ramzauchenna any news on that?

[2021-01-30 11:48] IcebergRage commented on #209
I still have the errors BUT I can see on AWS that the lambda is properly attached on the SQS.
So it works despite the errors.

[2021-02-06 10:59] seifolah-ghaderi opened #413 "sls create_domain Error: Unable to fetch information about api.mydomain.com at APIGatewayWrapper.<anonymous>"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-09 21:07] daveykane commented on #406
I'm also getting this same issue consistently

[2021-02-09 21:15] Abhijith-Nagaraja opened #414 "No route53 entry / no hosted id / no cloudfront distribution"
## Bug Report

**Error Description**
Deployment is success without errors, but I don't see no route53 entry, hosted ID mentioned is not available in route53, no visible cloudfront distribution

From the console output I see domain and target domain, But when I try to hit domain and my api, it will go for timeout, I tried with https and http both. https will give me timeout and http will give 404 n

[2021-02-15 08:41] daveykane commented on #406
I've also noticed that once you manually delete the path mappings, the stack will delete but the custom domain itself is not cleaned up. We recently hit the account limit for custom domains and had to manually clear the out.

[2021-02-15 14:35] daveykane commented on #362
`autoDomain` doesn't seem to help for me, after the stack deletes the domain still exists. Though it might be related to https://github.com/amplify-education/serverless-domain-manager/issues/406

[2021-02-18 15:51] michal1106 commented on #233
I think we were able to make it work on a different account

the steps we did
* our Route53 settings are on DEV account
* on QA account, we created **certificate** (same like we did on DEV account, except we needed to create the DEV Route53 record manually by copying the values (in DEV we could automatically add them to Route53 as we were on the same account)
* deploy on QA account
* after deployi

[2021-02-22 18:04] diegomarzo commented on #381
Just adding something that was biting me, I could not define my event as `httpApi` only http

[2021-02-24 21:27] iDVB commented on #317
@tdrbg Is this legit? Cause I don't see this param mentioned anyway in the docs for this plugin?

[2021-02-25 00:12] joswayski commented on #381
Possible duplicate?  #359

Just got this error as well trying to deploy an http.

Under **Known Issues:**

_(8/22/2018) Creating a custom domain creates a CloudFront Distribution behind the scenes for fronting your API Gateway. This CloudFront Distribution is managed by AWS and cannot be viewed/managed by you. This is not a bug, but a quirk of how the Custom Domain feature works in API Gateway._

[2021-02-25 12:03] nake89 commented on #214
It would be really nice to get a solution for this. I tried using without a basePath and I get same error.
What is the solution? do I have to use different subdomain for every lambda function? That seems unreasonable.

[2021-02-25 18:04] iDVB opened #415 "Failed to find CloudFormation resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-27 17:55] iDVB commented on #415
Working now in `v5.1.0`

[2021-02-27 17:55] #415 closed

[2021-02-28 11:09] BrunoBernardino commented on #95
More interestingly, I've mistakingly deleted the custom domains names from the API Gateway (in the console, manually), before doing `serverless delete_domain`, which left me with a certificate I can't delete, that is mapped to a distribution I can't find (even with the CLI). I was still able to delete the domain from Route53, but the certificate is just lingering there now. Hopefully it's just cac

[2021-03-02 03:13] TheDSCPL commented on #64
Why do the certificates need to be in `us-east-1`? That defeats the purpose of having several regions! This creates A and AAAA records on the Route 53 configuration to route the traffic to a Cloudfront in `us-east-1`region that will then call the lambdas and use a RDS instance which are in Europe. The lambdas will then respond back to the cloudfront in the `us-east-1` region and then travel across

[2021-03-02 03:30] TheDSCPL commented on #64
I just read the source code and tried to use the `certificateArn` parameter and set it to an ARN in `eu-west-1`, but I got this error message:

This is ridiculous

[2021-03-02 18:22] jkapongo commented on #170
It is beyond the scope of this plugin to configure HTTP to HTTPS, but for those looking to do so, you'll have to [use a CloudFront distribution](https://stackoverflow.com/a/62591539/4937836). Furthermore, should probably set both `createRoute53Record` and `autoDomain` to `false`. Another caveat is that if you completely remove your service and deploy it (or change the region), the CloudFront distr

[2021-03-08 13:32] fc-udaysolanki commented on #210
So, problem with us was , we have not used small-case for domain name.
I changed it to small-case and now it is working fine

[2021-03-10 05:26] fc-udaysolanki commented on #373
In our case , it was domainName, we have used caps Letter in it.
So when we create domain using create_domain, it will convert domainName to small-case
and when we trued to sls deploy , it was unable to map domain to api
**we then change domainName to all small-case and it was working**

[2021-03-10 05:28] fc-udaysolanki commented on #412
### Might help someone in the future.
In our case , it was domainName, we have used caps Letter in it.
So when we create domain using `create_domain`, it will convert domainName to small-case
and when we trued to `sls deploy` , it was unable to map domain to api
**we then change domainName to all small-case and it was working**

[2021-03-16 14:26] Jye-Dewar opened #416 "TypeError: Cannot read property 'ACM' of undefined"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-16 14:33] turakvlad commented on #416
Hey, I have the exact same issue. It worked yesterday but stopped today.

[2021-03-16 14:35] yeyeric commented on #416
same here since today

[2021-03-16 14:38] majorgilles commented on #416
Same error here

[2021-03-16 14:38] y8yashi commented on #416
I am experiencing the same phenomenon.
It works with v.2.29.0.

[2021-03-16 14:39] matthieudesprez commented on #416
Same here, it seems to come from

[code]

and linked to serverless latest release https://github.com/serverless/serverless/releases/tag/v2.30.0

Revert and fix to serverless 2.29.0 should resolve the issue temporarily

[2021-03-16 14:52] mebibou commented on #416
They probably dont know releasing breaking changes should change major version...

[2021-03-16 14:55] Jye-Dewar commented on #416
If you're utilizing [https://github.com/marketplace/actions/serverless?version=v1.52.1](GitHub Actions for Serverless).

The following in my code removed the issue as a work-around.
[code]

[2021-03-16 14:56] jchambliss commented on #416
@matthieudesprez reverting to 2.29.0 worked for us. Looking at their build history at https://github.com/serverless/serverless/actions it seems they're aware of the issue (misconfigured AWS creds looks like) and are frantically trying to fix it. Until then we're reverting to the older version in our scripts.

[2021-03-16 15:02] Enase commented on #416
@jchambliss sls [v2.30.1](https://github.com/serverless/serverless/releases/tag/v2.30.1) - issue still exist.

[2021-03-16 15:26] jchambliss commented on #416
Not surprised. I would stick with 2.29.0 for the foreseeable future.

[2021-03-16 15:45] websolutionsonline commented on #416
I had this issue also. Just confirmation that downgrading to version 2.29.0 did the trick for me.

[2021-03-16 15:52] oromero-rv commented on #416
We experienced

[code]

No issue on v2.29.0

[2021-03-16 16:20] marcelinhov2 commented on #416
For me it is

[code]

[2021-03-16 16:21] KingNoosh commented on #416
Same here: `TypeError: Cannot read property 'ACM' of undefined`

[2021-03-16 18:09] jo3n opened #417 "Breaks serverless domain manager..TypeError: Cannot read property 'config' of undefined"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-16 18:23] smirowstanitzok commented on #416
Seems like it's fixed with https://github.com/serverless/serverless/pull/9127 in version 2.30.2

[2021-03-16 20:04] jchambliss commented on #417
Duplicate of #416

[2021-03-16 20:06] jchambliss commented on #417
Potential Duplicate of #416
Per the discussion there, try upgrading to Serverless v2.30.2. Reports are that the new version there has resolved the issue.

[2021-03-17 15:25] #417 closed

[2021-03-17 23:07] BrendanEthika commented on #416
still not fixed my current information
[code]

[code]

[2021-03-17 23:10] BrendanEthika commented on #416
Then I tried with latest latest version of serverless, still an issue
[code]
[code]

[2021-03-28 01:41] baileytincher commented on #416
Works for me with Serverless 2.31.0. Make sure you run `sls create_domain` first if this is your first time trying to deploy the domain.

[2021-03-29 12:21] nonbeing commented on #414
Got the same issue.

No route53 record is created, even when I specify the `hostedZoneId`. This happens regardless of whether I set `createRoute53Record` to true, or even if I omit this (and the default is `true` anyway so it should still create the record).

[2021-04-12 12:58] bebbi commented on #221
@rddimon Do you know if this issue is resolved? I.e., is it now possible to use domain manager on a [naked gateway without lambdas](https://serverless.com/framework/docs/providers/aws/events/apigateway/#share-api-gateway-and-api-resources)?

[2021-04-12 14:28] rddimon commented on #221
@bebbi Hey, could you please try the latest version and the workaround from #217?

[2021-04-14 08:09] andydivivde commented on #412
I'm experiencing this issue too. After enabling SLS_DEBUG the error I see is: **Error: Unsupported apiGateway.restApiId object**

It's worth noting that our rest API is being created as a cloudformation resource and then referenced in provider:apiGateway like so:

[code]

I'm wondering if the fact that the rest API is being created this way instead of generated by serverless itself is the reason t

[2021-04-15 09:17] Brandonza opened #418 "S3 Logging for Cloudfront"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-15 14:31] tomaszdudek7 commented on #413
Any work arounds?

We just hit that one - the plugin works seamlessly on Debian but fails on MacOS.

[2021-04-22 03:10] feeh27 opened #419 "Don't remove custom domain when run sls remove and has anothers API mappings"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-23 00:20] bebbi commented on #221
@rddimon After a lot of playing I noticed a key issue:

As soon as the serverless file that defines the shared api gateway gets a function definition for the dummy handler, it will create a second api gateway in addition to the one in resources, which will then receive domain manager's full attention.

The way to avoid that is to `self-reference` the resources api gateway in the api gateway file u

[2021-04-26 22:35] TheDSCPL commented on #381
+1. This was it for me!

[2021-04-28 13:49] EbenZhang commented on #333
Just in case it might help someone (may not be the same issue as the OP).

In my case, I was migrating from REST API to HTTP API, the account that ran the sls deploy didn't have APIGateway permission, I just assigned apigateway admin policy then it worked, didn't bother investigate what exactly permission was needed.

It will be helpful if the plugin can print out more error information (if possib

[2021-04-30 04:35] EugenRakhimov commented on #209
Same stuff  ```Serverless Domain Manager: Error:  Error: Failed to find CloudFormation resources with an error: ValidationError: Resource ApiGatewayRestApi does not exist for stack```

[2021-05-03 19:03] oasis1992 commented on #413
I get the same problem when switching OS
Ubuntu 20.04

[2021-05-03 19:12] oasis1992 commented on #404
I still had that problem.
I didn't have the aws credentials
https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/setup-credentials.html

[2021-05-04 15:28] apoffa commented on #419
Hello Guys!
I’m having an issue with “serverless remove” and the custom domain plugin.
I have multiple services deployed with the following config:

custom:
	domains:
    	    	prod: [subdomain].[domain]
	    	dev: [subdomain]-dev.[domain]
	customDomain:
    		domainName: ${self:custom.domains.${self:custom.stage}}
    		basePath: [Service name]
    		stage: ${self:custom.stage}
    		createRoute5

[2021-05-06 15:53] bebbi commented on #221
@rddimon I note an additional issue which is blocking for this workaround:

The above accidentally worked when playing with an existing api gateway.

However when creating a new one, deployment of the dummy endpoint fails with this error:

[code]

..which seems correct as there is no stack yet to import the values from. They are from this section:
[code]

To work around this, I need a convoluted d

[2021-05-06 20:43] danielki33 commented on #209
I ran into this same issue, but was able to fix it by changing the `httpApi` event key in my `serverless.yaml` to `http`. Is this perhaps a documentation issue or undocumented breaking change?

Before (same error mentioned here; calling the Lambda directly works, but calling through the custom domain returns "forbidden"):
[code]

After (no error, successful deployment):
[code]

[2021-05-09 17:47] DLyons commented on #381
When the event was http everything worked for me however setting the event to httpApi broke with the above, the fix was to specify http in my custom domain, as below;

[code]
rather than the code in the example I was following, which was

[code]

[2021-05-11 06:56] ufylord commented on #395
serverless.yml
[code]
It will set mapping for function1 but function2 doesn't

[2021-05-11 10:33] patrickbussmann opened #420 "TypeError: Cannot read property 'domainName' of undefined"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-11 10:47] davorceman opened #421 "Target Domain is different then API Gateway endpoint url"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-12 21:15] steadweb opened #422 "CodeBuild fails to run when create_domain is invoked"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-12 22:49] cthomaschase commented on #421
I had the same, looks like it's connected via the API Mappings section of the custom domain. See below.

<img width="1351" alt="Cursor_and_API_Gateway" src="https://user-images.githubusercontent.com/455635/118053565-9b016600-b339-11eb-81fe-dd75568b27d8.png">

[2021-05-13 08:50] davorceman commented on #421
Thank you, that is it :)

[2021-05-13 08:50] #421 closed

[2021-05-15 21:49] ufylord opened #423 "Can't create multiple domains for rest and websockets api"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-16 11:57] #423 closed

[2021-05-17 14:35] vanniszsu commented on #381
just as @samcdavid suggest,  enabled **SLS_DEBUG=*** to see more debug info,  in my case,  it is because I forget to enforce TLS 1.2

[2021-05-23 17:11] ashrujitpal commented on #352
customDomain:
    domainName: 'your domain'
    basePath: 'v1'
    stage: ${self:provider.stage}
    certificateName: 'your domain'
    createRoute53Record: true

Above configuration only helped to create the custom domain name, I think the ACM Certificate should only be created either in North Virginia (us-east-1) or North California (us-west-1). Also add 'TAG' as your 'domain name' while creatin

[2021-05-23 17:57] devadyuti commented on #352
that's not correct. for endpointType: edge the certificate needs to be issued in us-east-1 for endpointType: regional the certificate can be issued in the region (provided API gateway is supported by AWS in that) where you want to deploy your APIs

[2021-05-25 20:53] isbkch commented on #412
In my case, enabling debug showed
[code]

replacing `basePath: 'api/v1/'` by `basePath: 'api/v1'` solved the issue

[2021-06-01 02:06] onhate commented on #422
by any chance do you have `serverless-offline-aws-eventbridge` plugin on your `serverless.yml`?

I just discovered that a new version of `serverless-offline-aws-eventbridge` introduced new dependencies like `mqtt` and `aedes` and for some reason it causes the. `create_domain` command to fail, I nailed it down to the `yield` and `generators` code of the transpiled code for this plugin but code not

[2021-06-02 15:25] jinyang1994 commented on #209
I use the way fix it too.

[2021-06-03 14:33] kirill578 commented on #343
looks like the autoDomain option does not work when you use the websocket domain option 😞

[2021-06-04 16:10] michael-gale commented on #209
Throwing this out there in case it helps anyone:

I encountered this error after upgrading serverless:

[code]

With SLS_DEBUG, the real culprit was

[code]

The following change in my serverless.js seemed to solve it (removed whitespace):

[code]

[2021-06-06 13:49] thimtkfkd05 commented on #420
Hello, you can use
`export SLS_DEBUG=*`
to know the cause of error.
In my case, it said that the cause of error was "certificateArn must be in us-east-1 region".

[2021-06-10 16:27] volodymyrrudyi commented on #413
AWS CodeBuild, same issue.

[2021-06-15 14:57] ZebraFlesh commented on #413
@volodymyrrudyi What permissions did you need to add to resolve this issue?

[2021-06-26 17:09] arliber commented on #359
If you already have an edge endpoint, create a new regional one, delete the old edge and redeploy.

[2021-06-27 19:56] mattccrampton commented on #208
This was my issue as well.  If you're following a tutorial someplace, just remember to call

`serverless create_domain  --aws-profile <yourawsprofile>`

If you have more than one configured.

[2021-07-05 11:28] YanRah opened #425 "create multi-level base path mapping"
when setting customeDomain with multi-level base path mapping getting the following error-

Serverless Domain Manager: Error: api.test.com:  BadRequestException: API Gateway V1 doesn't support the slash character (/) in base path mappings. To create a multi-level base path mapping, use API Gateway V2.
Serverless Domain Manager: Error: api.test.com:  Error: bo.dev.ef.biz: Unable to create basepath

[2021-07-08 14:43] matteobattista opened #426 "Error: Unable to setup base domain mappings for"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-19 15:49] #426 closed

[2021-07-21 10:23] Sam-Sundar-Apty commented on #352
Adding the `certificateArn` to custom domain and also adding `region` to provider solved the issue.

[2021-07-21 10:25] Sam-Sundar-Apty commented on #352
Hey @ashrujitpal,

No, we can create Cert. in any regions and provide the ARN and region to serverless via serverless.yaml file.

[2021-07-25 19:34] GustavoContreiras-Feegow opened #433 ""Error: Unable to create" but it created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-29 14:19] chriszirkel commented on #255
Did you add these values (hosted zone id, certificate) in your serverless.yaml file?

[2021-08-11 14:13] abuzarhamza opened #438 "npm install is throwing error on node version v10.18.0"
## Bug Report

**Error Description**
unable to install package of a sudden for node version `v10.18.0`

**Command Run**
npm i

**Console Output**
[code]

**Domain Manager Configuration**
Replace this with your own `serverless.yml` file (anonymized, of course) to help us better resolve your issue.
[code]

**Versions**
- Domain Manager version(s): 5.1.3
- Node/npm version: Node v10.18.0
- Serverless

[2021-08-11 15:23] rddimon commented on #438
Hey @abuzarhamza
Thank you for your request!

From the source [https://github.com/nodejs/Release](https://github.com/nodejs/Release) we can see the End-of-life date is 2021-04-30

So, you can try to update your node version or lock serverless-domain-manager to =<5.1.0.

We will not support this version anymore.

[2021-08-11 15:23] #438 closed

[2021-08-13 22:50] cbschuld commented on #381
As a quick FYI and for those arriving here from a google search for the error.

Another cause of this could be under the value of `customDomain` where you can have a few different options, make sure your option matches the APIs you are building:

e.g.
[code]
vs
[code]

notice "websocket" vs "httpApi"

[2021-08-14 08:11] peimanja commented on #343
Any update on this issue? I cannot get it work in `us-west-2` region

[2021-08-17 18:27] rochadt opened #440 "Issue with ACM Imported Certificates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-20 13:32] henhal commented on #208
This helped me, but my solution is usually to `export AWS_PROFILE=<my profile>`. That it uses the _default_ profile by, well yes, default, isn't really surprising. :)

[2021-09-01 17:57] darlanmoraes commented on #420
In my case, the error was that the plugin wasn't creating the custom domain name without the flag `autoDomain` explicitly set to `true`. After enabling debug and reading a piece of the code I was able to fix the problem. I am not sure that this is a bug, but the original error wasn't too friendly. Anyway, the plugin is working for me.

[2021-09-07 12:29] Vadorequest commented on #373
Encountered the same issue today, the workaround helped a lot, thanks!

[2021-09-23 08:48] stefan-rode commented on #333
I also found out, that when there's no API endpoint defined yet in the serverless.yml under functions, serverless does not create a stage in the ApiGateway and then the base domain mapping cannot be created, because that needs to reference a stage.

[2021-09-30 12:42] theobouwman opened #443 "Could not find the certificate"
I have my domain setup through Ruute 53 and my certificate has been made with ACM but I get this error when running `serverless create_domain`:
[code]

[2021-10-12 20:41] runna-app opened #444 "Using a sub-domain that has its primary domain registered in GoDaddy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-19 10:26] Kapcash opened #445 "Can't specify stage for httpApi gateways"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-19 10:29] #445 closed

[2021-10-22 04:04] arash-bizcover commented on #416
Not working on latest version 2.64.1:
[code]

[2021-11-01 15:20] mnapoli opened #446 "Serverless Framework v3: new design & how to integrate"
Hi 👋 , Serverless Framework core team here!

We're working on the v3 beta version right now. The v3 will include a redesigned CLI output:

<img width="400" alt="image" src="https://user-images.githubusercontent.com/720328/139266855-7c0c15e1-9201-48b6-92f0-db6af2da4d11.png">

You can try the v3 beta with: `npm i serverless@pre-3`

To help plugins integrate with that new design (and build a great us

[2021-11-10 07:59] #96 closed

[2021-11-11 12:56] marvin-w commented on #425
It works when the endpointType is set to regional as the code then uses the APIGatewayV2 instead of the old APIGateway in order to create and update the basePathMappings.

[code]

[2021-11-11 17:16] YanRah commented on #425
thanks for your answer and your input :)

we are deploying endpointType = private since we want to have access to those lambda functions only from vpc
![image](https://user-images.githubusercontent.com/7713300/141340390-2fee7120-f6f0-4a0a-abff-a7f534d65191.png)

will it stay private if we use endpointType: 'regional'? or should you add endpointType: 'private' option?

so endpointType will accept '

[2021-11-11 17:30] rddimon commented on #446
@mnapoli Hey, thank you for reaching Amplify! This is great news!
If you could help us we would really appreciate it.
Just one thing, we would like to support version 3 after releasing it

[2021-11-11 18:21] marvin-w commented on #425
Try it, for me regional did work, I think this is a static setting as well so you might as well go for it. Considering the default is edge and you're still on private should answer your question.

[2021-11-11 20:06] defko commented on #395
In my case the issue was that I was using a wrong apiType. The default is `rest` but my api was using `http`.
So after changing it

[code]

it worked like charm

[2021-11-12 10:24] mnapoli commented on #446
Thanks for getting back!

Just to make sure I understand: do you mean you don't want to support the v3 beta?

[2021-11-12 10:29] rddimon commented on #446
Yea, we will need to refactor our integration tests
It will not be supported by v3 as we are seeing waring messages right now

[2021-11-15 09:12] YanRah commented on #425
@marvin-w  Thanks you were right, that did the trick :)
Thanks a lot for your help by writing the comment.

[2021-11-15 09:13] #425 closed

[2021-11-26 03:13] ejoncas-rivalbet commented on #333
For me the problem was I was not configuring the `stage` property at both `provider` level and `customDomain`.

Even though i was passing `sls deploy --stage prod` my config was defaulting to `dev` which caused a mixed on configuration that then triggered this problem.

My provider was:

[code]

My custom block was:

[code]

When I changed my provider to:

[code]

Hope it helps!

[2021-11-30 05:53] sridhar562345 commented on #165
I think It will be better, if there is a option to reference which function should use which domain like below.

[code]
And we should be able to reference the domain like below

[code]

[2021-11-30 22:53] tomsaleeba opened #450 "Check if cert is in date before using it"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-12-01 18:37] paulalex opened #451 "When trying to create multiple base path mappings for the same API and stage only one ever gets created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-12-02 18:16] rddimon commented on #99
Hey, hope you have figured out your problem in another case try to upgrade serverless-domain-manager to the latest version.
We are currently not supporting versions below 5.x so closing this issue.

[2021-12-02 18:16] #99 closed

[2021-12-02 18:44] rddimon commented on #160
Hey, it looks like an old question

But anyway you can read about the plugin:
https://github.com/amplify-education/serverless-domain-manager#serverless-domain-manager
https://github.com/amplify-education/serverless-domain-manager#how-it-works

Closing it as I think it's not relevant for now

[2021-12-02 18:44] #160 closed

[2021-12-02 18:56] rddimon commented on #168
Hi there
I see no updates here for a long time and hope it's solved

Anyway, you can try the latest version of our plugin
In case of any issues fill free to open a new issue

[2021-12-02 18:56] #168 closed

[2021-12-02 19:04] rddimon commented on #223
Hi there.
I so no update here for a long time and hope you have solved an issue

You can try to use our latest version of the plugin and let us know with feedback
Fill free to open a new issue

[2021-12-02 19:04] #223 closed

[2021-12-14 11:50] sladg commented on #317
In my case, GitlabCI variables were marked as "Protected" unchecking the option and the pipeline passes fine.
Credits to https://juan.pallares.me/serverless-common-issues-and-errors/#avoid-gitlab-protected-variables

[2021-12-16 15:23] vsheyanov commented on #394
Same problem

[2021-12-16 15:23] Eagleman7 commented on #394
Same problem here

[2021-12-19 03:52] oscarmrom commented on #317
I was having a similar issue. I used the serverless API Gateway template and didn't notice the new format for `httpApi` instead of `http`.

After updating to `http` this worked without issue.

Before

[code]

[code]

[2021-12-24 11:21] chris-hinds opened #465 "Error: Unable to setup base domain mappings for api.test.domain.com"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-01-07 10:01] talaikis opened #466 "Unable to create domain"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-01-11 20:05] brettdh commented on #371
Problem still exists in version 5.2.0.

Interestingly, I do see this in the output:
[code]
so I know it can update _some_ things, anyway.

[2022-01-11 23:05] monigala commented on #413
In our case, after doing `export SLS_DEBUG=*` we saw the policy action `apigateway:GET` was missing for our assumed Role IAM User on Resource `- !Sub 'arn:aws:apigateway:${AWS::Region}::/domainnames/*'`

![image](https://user-images.githubusercontent.com/9090923/149035267-38dc0a7d-7fb5-49e8-9993-37f03c44e94d.png)

[2022-01-12 10:22] talaikis commented on #466
Ok, seems this is due to ACM not in the same region. as everything else.

[2022-01-12 10:22] #466 closed

[2022-01-13 05:14] SimonSongCA commented on #406
Same. Any suggestions? I was ignoring this info but deployed once again, but I got another item with the same Api name in CF... Awkward...

[2022-01-14 19:24] rddimon commented on #465
Hi @chris-hinds
Have you tried to use `allowPathMatching` option?

[2022-01-15 18:30] souzaramon opened #468 "What about caching?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-01-15 19:10] rddimon commented on #468
Hi @souzaramon

Thank you for your question.
The plugin does not manage Cloudfront.

You can more in the [Known Issues](https://github.com/amplify-education/serverless-domain-manager#known-issues).

[2022-01-15 19:10] #468 closed

[2022-01-17 09:12] chris-hinds commented on #465
Hi @rddimon I have tried this yes, and it doesn't seem to make any difference in my situation.

[2022-01-18 08:23] #361 closed

[2022-01-18 08:24] #346 closed

[2022-01-21 08:05] alexrygalov opened #473 "CredentialsError: Missing credentials in config @5.4.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-01-21 11:28] chris-hinds commented on #465
Diggin into this further and after lots of console logs, This is failing for me because of the below error

[code]

I wonder if this is because my stacks all share a single ApiGateway, so the CF stack I am trying to deploy here doesn't have a `HttpApi` resource. It's just has Routes that attack to an existing API Gateway which is deployed by a separate stack.

[2022-01-21 12:18] #473 closed

[2022-01-21 12:26] rddimon commented on #465
Hi @chris-hinds
Could you please provide a full sls config?
With functions and custom configs

[2022-01-21 12:29] chris-hinds commented on #465
@rddimon before I do that I have just removed the Serverless domain manager config/plugin from each of my stacks, as the domain mapping has already been setup.

I am wondering if there is an issue where multiple stacks share the same domain name and there is only 1 single API mapping, i.e. no base paths are set I juts map the root domain to the api stage

[2022-01-21 12:41] chris-hinds commented on #465
For what its worth this is what a typical server config file of mine looks like. My repo has about 12 of these, each with varying number of functions.

[code]

This is what my custom domain config looks like, which is simply imported from a common file

[code]

[2022-01-21 12:44] rddimon commented on #465
In [this](https://github.com/amplify-education/serverless-domain-manager/blob/master/src/aws/cloud-formation-wrapper.ts#L23-L29) block of code, we are trying to retrieve CF data

You can debug this code, find out what is wrong and send us a pr with the fix
In another case, I need to reproduce the same situation on my end to find a problem
But I don't have time for it

[2022-01-21 12:49] rddimon commented on #465
The config looks fine
I'm guessing there is a CF stack created by API type rest
And, when you have switched to the HTTP,  the plugin can find this CF stack but it does not have `LogicalResourceId=HttpApi`
For the REST is should be `ApiGatewayRestApi`

[2022-01-21 15:04] rddimon commented on #416
Closing it as I see it's related to the plugin

[2022-01-21 15:04] #416 closed

[2022-01-21 18:17] rddimon commented on #443
Hi @theobouwman

Make sure you have created your certificate in `us-east-1`

Serverless Domain Manager using `us-east-1` by default
https://github.com/amplify-education/serverless-domain-manager/blob/master/src/domain-config.ts#L87
https://github.com/amplify-education/serverless-domain-manager/blob/master/src/globals.ts#L18

Closing it as no a lot of folks are having this issue

Fill free to reope

[2022-01-21 18:17] #443 closed

[2022-01-21 21:42] #388 closed

[2022-01-22 22:14] diegomarzo commented on #209
Found the same issue today. Thanks for the comment!

[2022-01-26 15:50] #451 closed

[2022-01-26 16:26] rddimon commented on #419
Hi @feeh27
You can handle it with #478 in version `5.6.0`

Feel free to reopen it in case of any further issues with it

[2022-01-26 16:26] #419 closed

[2022-01-26 18:20] rddimon commented on #414
Hi @Abhijith-Nagaraja
It should be fixed in the version `5.3.1`

Feel free to reopen it in case of any further issues related to it

[2022-01-26 18:20] #414 closed

[2022-01-27 11:46] anil1712 commented on #465
@rddimon I am also getting the same exception. Is there any solution for this?

[2022-01-27 12:21] rddimon commented on #254
Hi @mooniker
Thank you for your PR!

This's already implemented by serverless
https://www.serverless.com/framework/docs/deprecations/#AWS_HTTP_API_USE_PROVIDER_TAGS

Will close this PR with another ( refactoring ) one

[2022-01-27 17:10] #409 closed

[2022-01-27 18:15] rddimon commented on #254
In addition, we added tagging of custom domain name https://github.com/amplify-education/serverless-domain-manager/pull/479

[2022-01-27 18:15] #254 closed

[2022-02-02 13:42] rddimon commented on #446
Hi @mnapoli

We are working on migration to Serverless v3 but got some issues with integration tests
As I see from the [documentation](https://www.serverless.com/framework/docs/guides/plugins/cli-output) V3 API logging is writing to the stderr `By default, logs are written to stderr`
And it causing issues with running mocha tests

Do you have any suggestions on how to solve this issue?

[2022-02-02 14:17] mnapoli commented on #446
What is the issue?

[2022-02-02 14:21] rddimon commented on #446
Tests fail, I believe the mocha package is seeing stderr messages and throwing an error
![Screenshot 2022-02-02 at 16 19 41](https://user-images.githubusercontent.com/4427554/152171567-124a9092-c3a3-4bf4-8b12-0a40f36202e6.png)

[2022-02-02 14:44] rddimon commented on #446
With `"serverless": "^2.72.2"` the same test works fine
![Screenshot 2022-02-02 at 16 31 08](https://user-images.githubusercontent.com/4427554/152173737-dfd6d859-d193-4609-b65f-f373df7fb534.png)

The only reason that we are using V3 logs with with `"serverless": "^3.1.0"`
And `serverless.cli.log` with `"serverless": "^2.72.2"`

[2022-02-02 15:37] mnapoli commented on #446
Without the complete error message it's impossible to help you…

The screenshot shows that the error starts with "Error: The string ..."

I can only assume that it ends with something like "does not contain 'Deployment success'" or something of the sort. But really with so little information I cannot help more.

[2022-02-02 15:46] rddimon commented on #446
I have a short one from the Domain Manager
![Screenshot 2022-02-02 at 17 45 16](https://user-images.githubusercontent.com/4427554/152187491-7ad54c81-4026-4f43-98f5-5ac86e2eb9c9.png)

`Error: the string "\nDeploying sdm-null-basepath-mapping-dk5cm to stage test (us-west-2)\n\n✔ Service deployed to stack sdm-null-basepath-mapping-dk5cm-test (135s)\n" was thrown, throw an Error :)`

[2022-02-02 15:54] rddimon commented on #446
Text error
[code]

[2022-02-02 16:13] rddimon commented on #446
@mnapoli I believe I have found an issue in our integration tests ...
I will let you know some time later

[2022-02-02 17:43] rddimon commented on #446
Ok the issue is in this part of the [code](https://github.com/amplify-education/serverless-domain-manager/blob/master/test/integration-tests/test-utilities.ts#L24)
We are treating the stderr message as an error =)

@mnapoli Thank you very much for your support here!

[2022-02-03 01:45] fcrdossantos opened #484 "Same Domain on Multiple Serverless Services/Projects"
## Support Question

**Question**
Hello, I was looking for some information on Google and as I didn't find it, I came here to ask for support.

Let's say I have multiple functions with different goals in AWS:

1. A serverless application takes care of pet registration
2. Another application manages the sending of e-mails to the owner of the pets
3. Another application manages the time control of s

[2022-02-03 08:18] rddimon commented on #484
Hi @fcrdossantos

Thank you for your question!
Could you please take a look at `preserveExternalPathMappings` option which was added in the version `5.6.0`?

Basically, you need to setup Domain Manager config in each YML file with  `autoDomain` and `preserveExternalPathMappings` options.

Please let us know if it works for you. Hope it will work )

[2022-02-03 13:58] mnapoli commented on #446
👍  happy to know it's resolved, thanks for the update!

[2022-02-03 13:58] #446 closed

[2022-02-04 11:32] rddimon commented on #358
It looks like not relevant anymore and closing it
Left more info in #357

[2022-02-04 11:32] #358 closed

[2022-02-04 11:42] rddimon commented on #72
Hi @brettdh

It's a long time we haven't responded here =)

It looks like we have a solution for your request:
1. You can use `serverless-certificate-creator` for the creating of ACM certificate
2. Domain Manager has a possibility of Route53 creation and assigning a certificate

Closing this issue, feel free to open it in case of any related issue

[2022-02-04 11:42] #72 closed

[2022-02-04 11:50] rddimon commented on #147
Hi @khrome83.

Hope you have found a solution as I don't see any activities for a long time.
You can also try the latest version of our plugin which can have a better solution for now.

Closing it as it looks like not relevant anymore.
Feel free to open in case of any related issue.

[2022-02-04 11:50] #147 closed

[2022-02-04 12:29] jamie-mg opened #485 "Serverless error caused by latest update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-04 12:39] rddimon commented on #485
Hi @jamie-mg

Thank you for your issue.
I don't see errors related to the plugin.
Could you please provide an extended exception?

And could you please try to use version `5.8.0` instead of `5.1.0`?
Also could you please try to upgrade your serverless plugin to version 2.7.2`?

[2022-02-04 15:13] rddimon commented on #444
Hi @therunbuddy

Could you please provide a more extended error message?

[2022-02-04 15:15] rddimon commented on #433
Hi @GustavoContreiras-Feegow

Could you please try our latest version of the plugin and let us know if you still have an issue?

[2022-02-04 15:18] rddimon commented on #420
Hi @patrickbussmann

Could you please try our latest version of the plugin and let us know if you still having this issue?

[2022-02-04 18:56] rddimon commented on #184
Hi there!

Hope you have solved ana issue.
It's been no activity for a long time and our plugin has got a lot of changes so closing this issue

You can try the latest version of the plugin and open issues in case of any problems

[2022-02-04 18:56] #184 closed

[2022-02-04 19:00] rddimon commented on #310
Hi there

This version of the plugin is not supported anymore.

Please use version 5.x or above

[2022-02-04 19:00] #310 closed

[2022-02-04 19:11] rddimon commented on #288
Hi @airmonitor

Hope you have solved and issue.

Our plugin does not take an action with the `logs` option so closing this issue.

Feel free to reopen it again just please do the next steps:
1. Use version 5.x or above of Serverless Domain Manager
2. Try to describe steps to reproduce the issue or put an extended error message

[2022-02-04 19:11] #288 closed

[2022-02-04 19:16] rddimon commented on #257
Hi @SarasArya

Hope you have solved your issue!
In another case, you can try to use version `5.5.0` or above in which we have to fix an issue with disabling `createRoute53Record=false`.

Closing it but feel free to reopen in case of any issues related to it.

[2022-02-04 19:16] #257 closed

[2022-02-04 19:20] rddimon commented on #256
Hi @kling-appfire

Thank you very much for your message! We appreciate it!
We will keep going in the same way!

[2022-02-04 19:20] #256 closed

[2022-02-04 19:26] rddimon commented on #255
It's not required
From the documentation, you can find such a description:

[code]

In general, it's not a Domain Manager issue. You should properly setup Hosted zone and ACM certificates on AWS
Closing it

Feel free to reopen it in case of any further issues related to it

[2022-02-04 19:26] #255 closed

[2022-02-04 19:39] rddimon commented on #252
Hi @hashmp

Thank you for your question!
We have released this possibility in version `5.4.0` or above,  you can try it out!

Closing it but feel free to reopen in case any issues related to it

[2022-02-04 19:39] #252 closed

[2022-02-04 19:42] rddimon commented on #233
Hi @hashmp

Hope you have solved this issue. But want to notify you about a solution.
We have released a possibility to specify AWS account for Route53 creation in version `5.4.0` or above,  you can try it out!

Closing it but feel free to reopen in case of any issues related to it.

[2022-02-04 19:42] #233 closed

[2022-02-04 19:47] rddimon commented on #247
Hi @roboweaver

It's been no activity for a long time and hope you have solved the issue.
You can try out the latest version of the plugin it's improved a lot and hope this issue has gone in the latest versions.

Closing it but feel free to reopen in case of any related issue

[2022-02-04 19:47] #247 closed

[2022-02-04 19:50] rddimon commented on #241
Hi there

It's no activity for a long time and hope you have found a solution!

Please try the latest version of the plugin it has improved a lot.

Closing it but feel free to reopen in case of any related issue!

[2022-02-04 19:50] #241 closed

[2022-02-04 19:57] rddimon commented on #238
Hi there!

It's no activity for a long time and hope you have found a solution!
In another case, we have released support for Multiple domains in version `5.0.0` or above which can be helpful in your case.
Please try it out with the latest versions of the plugin!

Closing it but feel free to reopen in case of any related issues or questions!

[2022-02-04 19:57] #238 closed

[2022-02-04 20:00] rddimon commented on #229
Hi there!

It's been no activity for a long time and hope you have solved your issue.

Closing it but feel free to reopen in case of any related issues or questions.

[2022-02-04 20:00] #229 closed

[2022-02-04 20:08] rddimon commented on #221
Hi @bebbi

It's no activity for a long time and hope you have found a solution!
I have just realized that you have this issue with version `2.6.13` and we have released support of `Fn::ImportValue` in version `4.2.2`
I believe it should solve the issue but please Domain Manager version 5.x or above those version also support `Fn::ImportValue`

Closing it but feel free to reopen it in case of any r

[2022-02-04 20:08] #221 closed

[2022-02-04 23:18] mits87 opened #486 "Can't set domain after upgrade."
Hi guys!

**Error Description**
I have a problem with the `serverless-domain-manager` plugin after upgrade to version `6.0.0` returning me an error:
```TypeError: Cannot read property 'domainName' of undefined```

**Command Run**
`sls deploy`

**Console Output**
[code]

**Domain Manager Configuration**

[code]

**Versions**
- Domain Manager version(s): 6.0.0
- Node/npm version: Node 14.17.3/npm 7.

[2022-02-04 23:39] #486 closed

[2022-02-05 08:53] rddimon commented on #486
Hi @mits87

Could you please describe how have you solved this issue?
It can be useful for others

[2022-02-07 10:39] bebbi commented on #221
Hi @rddimon, it's been a while since I started that issue. I believe I was on "^5.1.0" while on that last issue comment. Something that would help might be a simple example of how to add this plugin to a serverless config that has no endpoints (just preparing its config for other, separate api configs). Thanks in any case!

[2022-02-07 11:41] rddimon commented on #221
Hi @bebbi

You can a look at the `enabled` option it might help you.

[2022-02-07 13:01] mnapoli opened #487 "Possible issue when no domain was set up"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-07 16:30] #487 closed

[2022-02-07 16:38] rddimon commented on #487
Hi @mnapoli

Thank you for your support!

We have released a fix.
Hope no further issues will appear =)

[2022-02-07 16:40] rddimon commented on #485
Hi @jamie-mg

We have released a small fix https://github.com/amplify-education/serverless-domain-manager/pull/488 which can be related to your issue
We were wondering if you could provide more extender error messages as we can't identify what is wrong

[2022-02-07 19:23] mnapoli commented on #487
Awesome thanks for the quick fix!

[2022-02-08 09:09] rddimon commented on #149
Hi there

It's no activity for a long time and hope you have found a solution!

The plugin has improved a lot and may handle this issue right now.
Please try the latest version and let us know.

Closing this issue but feel free to reopen or send a PR with changes.

[2022-02-08 09:09] #149 closed

[2022-02-08 14:48] efelipe402 commented on #385
@hmazter thanks for sharing I will try it out, but I wonder how to implement the certificate at  front end client using amplify to  authenticate the request?

[2022-02-09 06:45] hmazter commented on #385
@efelipe402 I have no answer for that. I have never worked with amplify.

I have set up a couple of "global" certificates separate from this config that I just reference with the ARN.

[2022-02-09 10:54] efelipe402 commented on #385
Thanks @hmazter and using any front end client framework like angular or react have you ever tried to implement it or do you know any resource?

[2022-02-09 11:13] hmazter commented on #385
@efelipe402  Nope, sorry

[2022-02-09 20:09] rddimon commented on #387
Hi @FinnFrotscher @SethThomas

It's no activity for a long time and hope you have found a solution.
A question in another case, have you tried with `https` protocol?

Our plugin has improved and I was wondering if you could try the latest version on the plugin and let us know

[2022-02-09 20:23] rddimon commented on #202
Hi there
@Rapol @RichardBradley

It's no activity for a long time and hope you have found a solution!
Our plugin has improved a lot, and currently, it supports `serverless-plugin-split-stacks` try the latest version out

Closing it but feel free to reopen in case of any related issue.

[2022-02-09 20:23] #202 closed

[2022-02-09 20:27] rddimon commented on #205
Hi @simonnice

It's no activity for a long time and hope you have found a solution!
Our plugin has improved a lot so please try out the latest version

Closing it but feel free to reopen in case of any related issue

[2022-02-09 20:27] #205 closed

[2022-02-09 20:37] rddimon commented on #214
Hi there

_**As I see the best solution for the current issue is to use different not empty base paths**_

It's no activity for a long time and hope you have found a solution!
Our plugin has improved a lot so try out the latest version!

Closing it but feel to reopen in case of any related issue.

[2022-02-09 20:37] #214 closed

[2022-02-09 20:42] rddimon commented on #364
Hi @davehensley

We have released this option recently https://github.com/amplify-education/serverless-domain-manager/pull/480

Closing it but feel free to reopen in case of any related issues

[2022-02-09 20:42] #364 closed

[2022-02-09 20:47] rddimon commented on #311
Hi there

It's no activity for a long time and hope you have found a solution!
Please try out our latest version of the plugin and let us know if you still having this issue.

Closing it but feel free to reopen it in case of any related issue.

[2022-02-09 20:47] #311 closed

[2022-02-10 07:52] kaihendry commented on #420
I'm hitting this issue https://github.com/kaihendry/express-starter/commit/e4f96938163e5bc1d5047e411e93bfaf8919db76

[2022-02-10 10:22] jamiepreston commented on #485
Hi @rddimon, Thanks for your response.

The serverless plugin version I was using was actually version 3.1.1, sorry for the confusion. Unfortunately there was no further error message, that's all the serverless framework gave me and the only way to get my stack deploying was to roll this plugin back to the version I specified.

I'll try to use the latest version including your fix or failing that

[2022-02-10 11:56] rddimon commented on #485
@jamiepreston Try to use version `6.0.1` it should support v2 and v3 of the serverless framework

[2022-02-10 13:01] skytreader commented on #420
@rddimon I'm using v6.0.1 of your plugin on a new project whose config I simply copied from another project using an older serverless ecosystem. I ran into this problem too. Well noting that, unlike OP, `create_domain` seems to have succeeded but `deploy` just keeps throwing this error.

Setting `autoDomain: true` as @darlanmoraes suggested did the trick for me.

[2022-02-11 10:47] kaihendry commented on #420
Here's the log file: https://s.natalian.org/2022-02-11/log.txt

I'm not sure what's going on here tbh. Maybe it's the events signature?

[code]

Nonetheless my workaround so far has been to create the domain in API gateway and map to my Http API.

[2022-02-11 12:27] rddimon commented on #420
Hi @kaihendry

Thank you for the error logs it's very helpful!

From the error
[code]
You need to set `endpointType: 'regional'` for the Domain Manager config

Should it be the `edge`?

[2022-02-11 12:57] kaihendry commented on #420
It's regional https://github.com/kaihendry/express-starter/blob/serverless-domain-manager/serverless.yml#L23

Sorry my earlier commit matched the bug issue's title https://github.com/kaihendry/express-starter/commit/e4f96938163e5bc1d5047e411e93bfaf8919db76

[2022-02-11 13:15] rddimon commented on #420
@kaihendry try to set `securityPolicy=tls_1_0`

[2022-02-11 13:18] kaihendry commented on #420
TLS 1.2 (recommended) - is required for http APIs, so I don't see that working at all?

[2022-02-11 13:34] rddimon commented on #420
@kaihendry could you please also try `apiType=rest`?

[2022-02-11 13:35] kaihendry commented on #420
I don't want a RestFul API, the events interface also reflects http iiuc. Or is this to help you debug?

[2022-02-11 13:54] rddimon commented on #420
Yeah it's for the debugging purpose
I want to understand what is wrong

[2022-02-11 15:25] rddimon commented on #420
This issue is discussed in #401 let's continue there

[2022-02-11 17:00] QwertyHJKL1234 opened #490 "Is it possible to get the number of activities done by students in the vocab app using an api somewhere?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-11 17:58] #490 closed

[2022-02-11 18:06] rddimon commented on #490
Hi @QwertyHJKL1234

Thank you for your question but it's not related to the plugin!
Closing it

[2022-02-11 18:29] danielstandby opened #491 "Export Names format prevents using plugin in different stacks"
Hi,

I'm having an issue using this plugin in multiple stacks deploying to the same AWS. CloudFormation Export Names have to be unique across the same AWS account.

The problem resides that the Export logical IDs are being formed using this templates:

`sls-${service.service}-${domain.stage}-DistributionDomainName`
`sls-${service.service}-${domain.stage}-DomainName`
`sls-${service.service}-${domai

[2022-02-11 18:40] #420 closed

[2022-02-11 20:43] rddimon commented on #316
Hi @jonathan-kosgei

It's no activity for a long time and hope you have found a solution!
You can use `create_domain` to create a custom domain name or set `autoDomain=true` which will call `create_domain` automatically.

After deployment, we are printing a summary that consists of all the needed information.
![Screenshot 2022-02-11 at 22 31 47](https://user-images.githubusercontent.com/4427554/15

[2022-02-11 20:43] #316 closed

[2022-02-11 20:50] rddimon commented on #321
Hi @raj-milton

It's no activity for a long time and hope you have found a solution!
The Serverless Domain Manager does not have logic that raises 403 errors, it should be handled via AWS.

Make sure you have specified all needed permissions for the plugin. From the Readme:
[code]

Closing it but feel free to reopen in case of any related issues.

[2022-02-11 20:50] #321 closed

[2022-02-11 20:57] rddimon commented on #322
Hi @LiaisonLarry

It's no activity for a long time and hope you have found a solution!

Please try our latest version of the plugin and let us know.
We did a lot of changes and your issue could be resolved.

Closing it but feel free to reopen in case of any related issues.

[2022-02-11 20:57] #322 closed

[2022-02-11 21:14] rddimon commented on #343
Hi there

I believe we have fixed it in #489

Closing it but feel free to reopen in case of any related issues

[2022-02-11 21:14] #343 closed

[2022-02-11 21:21] rddimon commented on #354
Hi @jayasai470

It's no activity for a long time and hope you have found a solution!
In another case, multiple domains support was added in version `5.x` so please upgrade your plugin.

Closing it but feel free to reopen in case of any related issues.

[2022-02-11 21:21] #354 closed

[2022-02-12 08:37] kaihendry commented on #401
I have this issue too https://s.natalian.org/2022-02-11/log.txt

[2022-02-18 05:08] lracicot commented on #465
Hi @rddimon I am also getting this exception and we need to stay with serverless v2 for this time. Any workaround?

[2022-02-18 05:53] lracicot commented on #465
Found my issue: I first did `create_domain` without `endpointType: regional` which resulted in the domain created as `edge` in API Gateway. I just had the deleted it and redeploy.

Putting `SLS_DEBUG=*`did help.

[2022-02-21 14:36] ken-harris opened #492 "Plugin configuration is missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-21 14:37] ken-harris commented on #492
My apologies. I meant to remove the bug label and it appears I can't do that after I created the post.

[2022-02-21 15:27] rddimon commented on #492
Hi @ken-harris

Could you please take a look at the README?

[code]

Is not a part of the provider option it's a separate bock

[Here](https://github.com/amplify-education/serverless-domain-manager/blob/master/test/integration-tests/basic/basepath-mapping/serverless.yml) is an example

[2022-02-21 17:38] ken-harris commented on #492
@rddimon I am such a fool. I never looked at a full yml file as always just assumed it was part of the provider block because of reasons unknown to me. Ugh I hate how much time I spent trying to figure this out... Thank you very much for the reply though! I appreciate it.

[2022-02-21 17:38] #492 closed

[2022-03-07 06:47] deepankarm commented on #333
If someone (like me) didn't read the [docs](https://www.serverless.com/plugins/serverless-domain-manager#running) & tried `sls deploy` directly, please don't forget to run `sls create_domain` :grinning:

[2022-03-08 17:57] mpalenov commented on #381
It doesn't work for me neither. I expected it working out of the box but it seems easier to create a domain manually.

[2022-03-17 11:19] SpaseESG commented on #152
@sveinhelge did you manage to fix this - and if yes how?

[2022-03-22 22:43] jakubLangr opened #494 "HTTP and HTTPS without manual fixes breaks deployment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-03-24 05:35] builtbyproxy commented on #215
Something that continuously trips me up so I'm adding it here for me 😂

You need to create a certificate in the Amazon Certificate Manager, specifically in the `us-east-1` region, despite where your app may be hosted.

[2022-04-01 01:17] piersatdoshii opened #495 "Incorrect hosted zone chosen when attempting to create a custom domain name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-04-07 07:19] nolde opened #496 "Remove `serverless` peer dependency"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-04-08 17:12] sleiter88 opened #497 "How to deploy a custom domain created in other region?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-04-11 20:42] #450 closed

[2022-04-12 19:36] rddimon commented on #496
Hi @nolde

Thank you for your issue.
Feel free to send changes we will review and merge it

[2022-04-12 19:50] jeff2013 commented on #385
It's not an amplify or web framework concern. Amplify manages your login and credentials - not your TLS connection. Depending on what you're using to make requests (fetch api, request, https framework etc) you would need to send the client cert/key. The exact implementation depends on what request library you're using. I believe if you use fetch you can set an SSL agent :)

[2022-04-13 18:35] efelipe402 commented on #385
Thanks for responding,  I'm using api gateway and cognito user pool and because of all endpoints use AWS_IAM authorizer, the request must be sign with any client library or manual code for AWS request type, for that I'm using Amplify which handles all token and keys for authentication, besides it can handle all request to Apigateway request signing every request, right now is working properly.

Bu

[2022-04-13 19:15] rddimon commented on #140
Hi there

Hope you are doing well and have found a solution for the current issue!
The domain manager has the `autoDomain` option which you can use in the latest version.
And a lot of changes were released and I believe this issue has been solved

Closing it as it's no longer relevant

Feel free to reopen it in case of any further issues related to it

[2022-04-13 19:15] #140 closed

[2022-04-13 19:22] rddimon commented on #151
Hi there

Hope you are doing well and have already solved this issue!

@billydh you can take a look at `preserveExternalPathMappings` option in the latest version and let us know

The origin issue looks solved so closing it
Feel free to reopen it in case of any related issue

[2022-04-13 19:22] #151 closed

[2022-04-13 19:35] rddimon commented on #373
Hi there

Hope you are doing well and have resolved this issue!
We don't support version 2.x any more try the latest one and let us know

Closing it

[2022-04-13 19:35] #373 closed

[2022-04-13 19:39] rddimon commented on #375
Hi there
Hope you are doing well and have already solved this issue!

You need to run `ceade_domain` before doing a deployment or use the `autodomain=true` option which does the same automatically
Also, we don't support version 4.x so please use the latest one and let us know

Closing it

[2022-04-13 19:39] #375 closed

[2022-04-19 05:55] nikoskip commented on #333
Hello! I'm going to share my troubleshooting and my final solution because I wasted about 2 hours fighting with this (and I didn't want to downgrade to v3). This was tested using version `6.0.3`.

1. If your are using a HTTP API you MUST set `endpointType` to `regional` and `apiType` to `http`
2. If you are using a REST API you MUST set `endpointType` to `edge` and `apiType` to `rest`
3. `basePath

[2022-04-27 06:42] bailey-byb opened #500 "Domain manager output failing serverless compose"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-04-27 08:31] mnapoli commented on #500
To be honest I don't think this issue should be solved here. We're working on solving this in Compose directly.

However, since we are here, as a general recommendation I would advise not to print the `-----------` line in the Serverless Framework output. I guess the goal is to separate custom domains? Maybe the output of the plugin could be reworked to something like this:

[code]

[2022-05-03 14:12] #390 closed

[2022-05-03 14:16] rddimon commented on #390
Hi @Adel-ak

I was wondering if you could provide your solution for this issue
It could be useful for others

[2022-05-05 20:26] Cesaraugp commented on #500
Any updates on this? @mnapoli

[2022-05-06 07:26] rddimon commented on #500
Hi there

Thank you for your issue!

@bailey-byb @Cesaraugp feel free to create a PR with changes. We will review and merge it.

[2022-05-06 09:20] mnapoli commented on #500
@Cesaraugp yes, the issue is solved in Compose, so at least there's no bug anymore.

I still think it could be worth improving this part in the plugin: https://github.com/amplify-education/serverless-domain-manager/issues/500#issuecomment-1110709980

[2022-05-08 11:36] pipeu commented on #209
@diegomarzo , this workaround worked for me, thanks!

[2022-05-10 06:17] VardyNg commented on #352
I encountered the same issue and turn out the ACM certificate is expired. Do take a look at it.

[2022-05-12 08:38] ankitkatiyar91 commented on #152
We had the same problem and the issue was that the DNS record was pointing to the API Gateway endpoint. Not to the `Target Domain Name` endpoint of the `Custom Domain Names`. Because of this the cert was coming for *.execute-<api-region>.amazonaws.com.

[2022-05-12 21:17] JakeDluhy commented on #333
I wanted to add my own problem/solution set in case it helps someone. In my case I fundamentally didn't understand the difference between `rest` and `http` for the API type. My APIs were being served over http and configured using the `http` keyword so I should use `apiType=http` right? Nope!

Turns out my functions are actually configured to use `rest`, and so it was failing to connect the domain

[2022-05-18 05:50] tibbe opened #501 "Example CloudFormation template missing acm:DescribeCertificate permission"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-05-26 14:17] ajmichels commented on #497
It looks like if you want to used a specific region for your certificate you need to use `endpointType: 'regional'`. This is because the default `edge` endpoint type uses a CloudFront distribution which can only support certificates for the `us-east-1` region.

So by specifying the 'regional' endpoint type this plugin will assume your certificate is within the region specified in `provider.region`

[2022-05-30 19:39] pbayly-kax opened #502 "Multiple custom domains returning error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-02 15:16] azuroff commented on #152
@ankitkatiyar91 That was exactly our problem.

[2022-06-02 23:43] nestor-bolivar opened #503 "Enable Mutual TLS authentication"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-07 08:52] michal1106 commented on #406
similar
in our case - everything works fine when in CloudFormation the **ApiGatewayRestApi** is on UPDATE_IN_PROGRESS
but when **ApiGatewayRestApi** starts with DELETE_IN_PROGRESS, **we get CREATE_FAILED and our CloudFormation fails and rollback**
It seems that **in the next try it will create a new API Gateway** and the old one would be left empty
BUT the **Custom Domain will be still mapped to t

[2022-06-15 16:09] Adel-ak commented on #390
@rddimon We decided to move to a EC2 Dedicated Host, the cold starts caused by lambda was not doing great for the company as our users number were growing fast

[2022-06-16 11:26] epigos opened #504 "Error: Unable to configure ID for a Route 53 health check"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-21 17:05] cjuega commented on #503
I'm working on a PR. Would this setup work for you?

[code]

[2022-06-21 23:30] nestor-bolivar commented on #503
Hey @cjuega . That will certainly do the job.

[2022-06-24 06:48] cjuega commented on #503
@nestor-bolivar here it is 😄

[2022-06-28 22:41] jordanboston commented on #363
Also seeing this happen where it states that the cert is not found.

[code]

Since everything works fine on my other project, this really seems somehow related to the `--aws-profile` part of this.

Anyone know anything about this?

[2022-06-29 21:16] jordanboston commented on #209
Ran into this but just had to specify the API TYPE to be able to use httpApi instead.  The default is rest which is the - http V1

[code]

[API Gateway v2 HTTP API](https://www.serverless.com/framework/docs/providers/aws/guide/serverless.yml#)
[API Gateway v1 REST API](https://www.serverless.com/framework/docs/providers/aws/guide/serverless.yml#)

[2022-07-08 16:54] mohit2152sharma opened #507 "Right way to create custom domain with edge type endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-15 13:55] kaykhan commented on #507
Did you manage to find the fix for this? Im also getting the same error `Could not find an in-date certificate`

[code]

[2022-07-15 13:56] kaykhan commented on #363
Also having this issue, did you manage to resolve this?

[2022-07-15 14:02] kaykhan opened #509 "Could not find an in-date certificate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-15 14:10] mohit2152sharma commented on #507
Not exactly, but I am using an alternative. You can use the parameter `certificateArn` and hard code the certificate arn there. It's a bit of a hassle but it gets the job done now. In the ideal case, I would want it to fetch `certificateArn` automatically based on the domain name.

[2022-07-15 14:16] kaykhan commented on #507
thanks, i tried that but i get this error: `Certificate must be in 'us-east-1'` my certificate is in us-east-2 and the serverless app has the setting `region: us-east-2`

[2022-07-19 09:41] kaykhan commented on #502
@pbayly-kax did you figure out how to do this?

[2022-07-20 03:53] mrcrowl opened #510 "Failed to find hosted zone when there are more than 100 HZs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-20 09:32] staff0rd commented on #394
Removing `certificateName` and adding `certificateArn` also does not solve this.

[2022-08-02 13:38] #501 closed

[2022-08-04 17:42] #496 closed

[2022-08-09 10:33] #503 closed

[2022-08-10 16:07] #510 closed

[2022-08-10 16:17] rddimon commented on #509
Hi @kaykhan

Thank you for your issue!
Place try our latest version of the plugin (6.1.0) It should be fixed
And please let us know the result

[2022-08-10 16:21] rddimon commented on #507
Hi @mohit2152sharma

Thank you for your issue!

It could be related to the https://github.com/amplify-education/serverless-domain-manager/issues/510
Place try our latest version of the plugin (6.1.0) It should be fixed
And please let us know the result

[2022-08-10 16:26] #500 closed

[2022-08-10 16:47] rddimon commented on #485
Hi @jamiepreston

I see no activities here for the last 6 months and hope this is resolved!
Closing it

Feel free to open a new one in case any issues

[2022-08-10 16:47] #485 closed

[2022-08-10 16:57] rddimon commented on #206
Hi @eduardoferrari

There is no activity for a long time and your issue is resolved!
Closing it

Feel free to open a new one in case any issues

[2022-08-17 17:41] rddimon commented on #349
Hi @StErMi

Hope you are doing well and have solved this issue!
There is no activity for a long time and I'm closing this issue.

Let's try our latest version and feel free to open a new issue in case any problems

[2022-08-17 17:41] #349 closed

[2022-08-17 17:51] rddimon commented on #385
Hi there

Mutual TLS support was added in version [6.1.0](https://github.com/amplify-education/serverless-domain-manager/pull/513)

Closing it for now and feel free to open a new issue in case any problems

[2022-08-17 17:51] #385 closed

[2022-08-17 17:55] rddimon commented on #387
There is no activity for the last 6 months so clothing it.

Hope you have resolved your issue.
Let's try our latest version and feel free to open a new issue in case of any problem.

[2022-08-17 17:55] #387 closed

[2022-08-17 18:06] rddimon commented on #408
Hi @isaacl

In the latest version of the plugin, we have `createRoute53IPv6Record` which you can use to disable IP v6 creation.

Closing it and feel free to open a new one in case any issue

[2022-08-17 18:06] #408 closed

[2022-08-17 18:10] rddimon commented on #411
There is no activity for a long time, hope you have resolved your issue

Let's try our latest version of the plugin and feel free to open an issue in case any problems

[2022-08-17 18:10] #411 closed

[2022-08-25 23:34] teriu opened #514 "Unable to install v6.0.4+ due to `uuid` & `aws-sdk` reference issue in Yarn Berry (Yarn 3)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-01 23:33] txynidakis opened #515 "Support for a private API Gateway attached to a VPC Endpoit"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-08 22:47] cabal-daniel commented on #333
I got this error because I was using an expired cert

[2022-09-13 23:38] jweyrich commented on #410
This issue became irrelevant in Serverless >= 2.36 since they removed support for `--noDeploy`.
I believe `serverless package` does pretty much the same without calling any API from AWS. It generates a local package to be deployed by `serverless deploy`. The package contains all generated zips and the CloudFormation template.

Related:
- https://github.com/serverless/serverless/discussions/9389)

[2022-09-16 17:18] shubsaini09 opened #516 "Create domain command not updating security policy to use minimum TLS version specified"
**Question**
Create domain command not updating security policy to use minimum TLS version specified

**Command Run**
serverless create_domain

**Issue Description**
As per the AWS [docs](https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-custom-domain-tls-version.html) we can specify the security policy parameter to use the minimum TLS version given in it. If I update my doma

[2022-09-21 21:10] alexandervandekleutab commented on #152
@ankitkatiyar91 Thank you! I am using AWS CDK and was using the API Gateway endpoint, not the custom domain (i.e. hidden Cloudfront distribution) endpoint.

[2022-09-22 23:15] yasso1am opened #517 "Api Gateway V2 (httpApi) not working with non-Route53 domain."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-28 07:29] overbit commented on #239
We are currently in the same situation. Currently the code doesn't support this scenario but I'm working on a feature that will work (generate a set of Route53 records in both private and public HZ) in split brain DNS configurations

[2022-10-06 03:24] geoff-ellison commented on #343
I fought with this issue for a day and a night before I realised my dumb mistake - I was using the incorrect AWS account to deploy!

I really think a more targeted error message would have helped me a lot. The thrown error (`Cannot read property 'domainName' of undefined`) could be many things and doesn't help to determine the problem.

The package is aware of the problem, because the debug output

[2022-10-19 22:05] K3vChan opened #519 "Error: Unable to setup base domain mappings for 'myCamelCasedDomain.example.com'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-20 16:42] axl89 commented on #519
I've been able to replicate it with:

[code]

My versions:

[code]

[2022-10-25 14:14] miguel-flowalytics commented on #517
I have the same setup using cloudflare, but I'm getting an error

[code]

Heres my configuration:
[code]

The stack for the service exists, so unsure what could be the issue here. Could it be the certificate name with the wildcard?

[2022-10-28 15:02] evdh opened #522 "Multiple api mappings on same domain name do not work (takes latest)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-28 18:37] #239 closed

[2022-10-30 00:07] kitto006 opened #524 "aws-sdk (70MB) embedded 2x = 140MB causing deployment failure"
node_modules\aws-sdk    ==> 70MB
node_modules\serverless-domain-manager\aws-sdk ==> another 70MB

on deployment (via Bitbucket pipeline), I get this error

Resource handler returned message: "Unzipped size must be smaller than 142434166 bytes (Service: Lambda, Status Code: 400, Request ID: e0468cfd-5a71-4e5e-9206-a6ae61699ea3)" (RequestToken: 0d159618-49a9-9f4c-b3c2-2db369a2d19b, HandlerErrorCode:

[2022-10-30 00:24] kitto006 commented on #524
found solution ==> must exclude node_modules/** in serverless.yml package section below.
(last week, if you didn't have this exclusion you might've been penalized with a 1x9MB aws-sdk, this week (Oct 29, 2022) it the latest version is include 2x70MB.

package:
  excludeDevDependencies: true
  exclude:
    - node_modules/**

[2022-10-30 00:24] #524 closed

[2022-10-30 01:09] baileywickham commented on #412
I had a similar error, in my case it required creating the certificate in `us-east-1` before deploying my application to a different region.

[2022-10-31 07:37] klausbreyer commented on #239
@overbit  thanks for the late response, it was rather a feature to detect the hosted zone, what I would have wished back then :)

[2022-11-04 02:04] hope-portal-services opened #525 "API defaulting stage to $default"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-04 02:12] hope-portal-services commented on #334
Any intention of implementing this? It's an odd limitation.

[2022-11-11 11:29] Rowan002 opened #526 "hostedZonePrivate parameter is not honoured in v6.2.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-14 23:46] avonow commented on #519
#381

[2022-11-28 12:24] #526 closed